.btn {
  text-decoration: none;
}

.btn-info {
  background-color: $dark-blue;
}

.upload-block .btn-info {
  background-color: white;
  color: $dark-blue;
}

.bootstrap-table {
  .pagination {
    .page-link {
      background-color: $white;
      border-color: #ddd;
      color: $black; 
    }
    .active {
      .page-link {
        background-color: $black;
        border-color: $black;
        color: $white;
      }
    }
  }
}