.btn-responsive {
  white-space: normal !important;
  word-wrap: break-word;
}

select {
  margin: 7px;
}

input:not([type="checkbox"]):not([type="submit"]):not([type="radio"]), select, .bootstrap-select {
  width: 374px !important;
}

input:not([type="checkbox"]):not([type="submit"]):not([type="radio"]), select {
  padding: 6px 12px;
}

.bootstrap-select {
  margin: 7px !important;
}

.dropdown-toggle {
  border-color: black;
}

#data_file + .bootstrap-filestyle > input {
  width: 100% !important;
}

.edit-form input:not([type="submit"]) {
  background-color: white;
  border: 1px black solid;
  border-radius: 4px;
  padding: 5px;
  margin: 7px;
}

.edit-form input[type="checkbox"] {
  padding: 5px;
  margin: 7px;
}

@media(max-width:767px) {
  .login-forms input {
    width: 100%;
  }

  .top-form {
    padding-bottom: 20px;
  }
}

.width-max input {
  width: 100%;
}

.login-forms label {
  display: inline-block;
  width: 100px;
}

.edit-form {
  label {
    display: inline-block;
    width: 210px;
    text-align: right;
  }
  label[for=show_checklist-0], label[for=show_checklist-1] {
    display: inline-block;
    width: 40px;
    text-align: right;
  }

  input[type="submit"] {
    margin-right: 10px;
  }
}

@media(max-width:767px) {
  select {
    width: 80% !important;
  }

  .edit-form {
    input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]), select, .bootstrap-select {
      width: 80% !important;
    }

    input[type="submit"] {
      margin-bottom: 20px;
    }

    label {
      text-align: left;
    }

    .edit-entry {
      padding-bottom: 20px;
    }
  }
}

label {
  font-weight: normal;
}

.required {
  font-size: 18px;
}

.margin30 {
  margin-left: 30%;
}

#bag-results {
  border: 1px dotted #ccc;
  padding: 3px;
}
#bag-results ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#bag-results ul li {
  padding: 5px 0;
}
#bag-results ul li:hover {
  background: #eee;
}
