.vscode
*.swp
*.pyc

logs/*
upload/*
data/*
exports/*

.credentials/*
client_secret.json

docker/docker-entrypoint-initdb.d/*.csv
docker/docker-entrypoint-initdb.d/*.zip
docker/docker-entrypoint-initdb.d/*daily.sql
docker/docker-entrypoint-initdb.d/*daily.sql.gz
docker/docker-entrypoint-initdb.d/old/*
docker/docker-compose.yml

app/static/*
app/assets/node_modules/*
app/data/gemeenten.json

files/deels_vooringevuld/*
app/data/nieuwe-gemeenten.json
config.py
backup.sh
last_processed_line.csv
update_bag.sh
last_bag_download.txt
