*.swp
*.pyc
logs/*
upload/*
app/static/*
app/node_modules/*
app/bower_components/*
config.py
docker/docker-compose.yml
app/data/gemeenten.json
backup.sh
docker/docker-entrypoint-initdb.d/bagadres-full.csv
