#results-search-gemeenten {
  ul {
    list-style-type: none;
    margin-top: 10px;

    li {
      font-size: 18px;
      font-weight: bold;
      color: black;

      a {
        color: inherit;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}

#results-search {
  ul {
    margin-bottom: 0;

    list-style-type: none;

    a {
      color: inherit;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .pull-right {
    margin-top: 20px;
  }

  p {
    color: dimgrey;
  }
}

.stembureau-info-icons {
  .svg-inline--fa {
    font-size: 20px;
    color: dimgrey;
    width: 26px;
    margin: 1px 4.5px;
  }

  .fa-wheelchair {
    top: 2px;
  }

  .fa-ban, .fa-question {
    font-size: 26px;
  }

  .wc {
    font-family: $font-family-title;
    font-size: 14px;
    line-height: 20px;
  }

  .stack {
    z-index: 10;
  }
}

.leaflet-popup .wc {
  top: -17px !important;
  left: -14px !important;
}

#form-search, #form-gemeente-search {
  color: #c21889;
  line-height: 30px;

  .form-group {
    width: 100%;
    border-bottom: 1px solid #c21889;
  }

  input {
    border: 0;
    box-shadow: none;
    width: 91% !important;
  }

  .form-control {
    display: inline-block;
  }
}

.breadcrump-page {
  position: relative;
  top: -10px;

  h1 {
    margin-top: 10px;
  }
}

.breadcrumb {
  background-color: inherit;
  padding: 0;
  margin-bottom: 0;

  .active {
    color: dimgrey;
  }
}

#remove-stembureau-link {
  color: $red;
}
