#results-search-gemeenten {
  ul {
    list-style-type: none;
    margin-top: 10px;

    li {
      font-size: 20px;
      line-height: 22px;
      font-weight: bold;
      color: black;
      margin-top: 20px;
      margin-bottom: 20px;

      a {
        color: inherit;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}

#results-search {
  >ul {
    margin-bottom: 0;

    list-style-type: none;

    a {
      text-decoration: underline;
    }
  }

  .float-end {
    margin-top: 20px;
  }

  p {
    color: dimgrey;
  }
}

.stembureau-info-icons .fa {
  color: dimgrey;
}

.extra-ti-popup {
  margin-top: 0.5em;
}

[data-bs-toggle="collapse"] {
  &.collapsed .if-not-collapsed {
    display: none;
  }
  &:not(.collapsed) .if-collapsed {
    display: none;
  }
}

.fa-stack {
  z-index: 10;
}

.fa-check, .fa-xmark, .fa-question {
  position: relative;
  top: -13px;
  left: -12px;
}

.fa-check {
  color: green !important;
}

.fa-xmark {
  color: $red !important;
}

.fa-question {
  color: $dark-orange !important;
}

.wc {
  color: dimgrey;
  font-family: $font-family-title;
  font-size: 22px;
  font-weight: bold;
  position: relative;
  top: -26px !important;
  left: 3px !important;
}

.wc-top-right {
  color: dimgrey;
  font-family: $font-family-title;
  font-size: 14px;
  position: relative;
  top: -9px !important;
  left: -11px !important;
}

.leaflet-popup .wc {
  top: -23px !important;
  left: 3px !important;
}

.leaflet-popup .wc-top-right {
  top: -8px !important;
  left: -11px !important;
}

#form-search, #form-gemeente-search {
  color: #c21889;
  line-height: 30px;

  .form-group {
    width: 100%;
    border-bottom: 1px solid #c21889;
  }

  input {
    border: 0;
    box-shadow: none;
    width: 91% !important;
  }

  .form-control {
    display: inline-block;
  }
}

.breadcrump-page {
  position: relative;
  top: -10px;

  h1 {
    margin-top: 10px;
  }
}

.breadcrumb {
  background-color: inherit;
  padding: 0;
  margin-bottom: 0;

  li::before {
    color: #757575 !important;
  }

  .active {
    color: dimgrey;
  }
}

#remove-stembureau-link {
  color: $red;
}

.fullscreen .sticky-header-container {
  top: 0 !important;
}

#setup_2fa {
  margin-bottom: 20px;
  .qrcode {margin-bottom: 20px;}
}
