#!/bin/bash


## Backup MySQL
DB_PASSWORD="<DB_PASSWORD>"
CMD="mysqldump -u root --password=$DB_PASSWORD --all-databases --ignore-table=mysql.event --ignore-table=stembureaus.bag | gzip > /docker-entrypoint-initdb.d/latest-mysqldump-daily.sql.gz ; cp -p /docker-entrypoint-initdb.d/latest-mysqldump-daily.sql.gz /docker-entrypoint-initdb.d/`(date +%A)`-mysqldump-daily.sql.gz"

docker exec stm_mysql_1 bash -c "$CMD"


## Backup CKAN
# <Verkiezing> <Jaar> concept
docker exec stm_app_1 flask ckan export-resource <CONCEPT_RESOURCE_ID>
# <Verkiezing> <Jaar>
docker exec stm_app_1 flask ckan export-resource <RESOURCE_ID>
