version: "3.1"
services:
  nginx:
    build:
      context: .
      dockerfile: Dockerfile-nginx
    volumes:
      - ./nginx/:/etc/nginx/
      - ../app/static/:/usr/share/nginx/html/static/
    networks:
      - nginx-load-balancer
      - stm
    restart: always
  app:
    build:
      context: .
      dockerfile: Dockerfile-app
    volumes:
      - ../:/opt/stm
    networks:
      - stm
    restart: always
  mysql:
    image: mysql:5.7.21
    # This root password will be overwritten with the password used in
    # the backup that will be restored from a .sql file in the
    # docker-entrypoint-initdb.d directory.
    environment:
      - MYSQL_DATABASE=stembureaus
      - MYSQL_ROOT_PASSWORD=<DB_PASSWORD>
    networks:
      - stm
    volumes:
      - stm-mysql-volume:/var/lib/mysql
      - "./docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d"
    restart: always
  nodejs:
    image: node:5.4.1
    working_dir: /opt/stm
    volumes:
      - ../app:/opt/stm
    networks:
      - stm
    # Use this to keep the container running
    tty: true
    restart: always
networks:
  stm:
  nginx-load-balancer:
    external:
      name: docker_nginx-load-balancer
volumes:
  stm-mysql-volume:
