version: "3.1"
services:
  nginx:
    build:
      context: .
      dockerfile: Dockerfile-nginx
    volumes:
      - ./nginx/:/etc/nginx/
      # 'static' contains the 'dist' folder after compiling the assets.
      # We don't mount 'dist' directly as this folder is recreated on
      # compilation and will therefor be unmounted after running gulp.
      - ../app/static/:/usr/share/nginx/html/static/
      - ../files/:/usr/share/nginx/html/files/
    networks:
      - nginx-load-balancer
      - stm
    restart: always
  app:
    build:
      context: .
      dockerfile: Dockerfile-app
    volumes:
      - ../:/opt/stm
    networks:
      - stm
    restart: always
  mysql:
    image: mysql:8.0
    # This root password will be overwritten with the password used in
    # the backup that will be restored from a .sql file in the
    # docker-entrypoint-initdb.d directory.
    environment:
      - MYSQL_DATABASE=stembureaus
      - MYSQL_ROOT_PASSWORD=<DB_PASSWORD>
    command: --local-infile=1 --innodb_ft_min_token_size=1 --innodb-ft-enable-stopword=OFF
    networks:
      - stm
    volumes:
      - stm-mysql-volume:/var/lib/mysql
      - "./docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d"
    restart: always
  nodejs:
    image: node:22.21.1
    working_dir: /opt/stm/assets
    volumes:
      - ../app:/opt/stm
    networks:
      - stm
    # Use this to keep the container running
    tty: true
    restart: always
networks:
  stm:
  nginx-load-balancer:
    external:
      name: docker_nginx-load-balancer
volumes:
  stm-mysql-volume:
