version: "3.1"
services:
  nginx:
    ports:
      - "80:80"
    volumes:
      - ./nginx-dev/:/etc/nginx/
    restart: "no"
  app:
    build:
      context: .
      dockerfile: Dockerfile-app-dev
    restart: "no"
  mysql-tests:
    image: mysql:8.0
    environment:
      - MYSQL_DATABASE=stembureaus_tests
      - MYSQL_ROOT_PASSWORD=wims_tests
    command: --local_infile=1 --innodb_ft_min_token_size=1 --innodb-ft-enable-stopword=OFF --general-log=1 --general-log-file=/var/log/mysql/general-tests-log.log
    networks:
      - stm
    volumes:
      - stm-mysql-tests-volume:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 2s
      retries: 5
  mysql:
    restart: "no"
  nodejs:
    restart: "no"
networks:
  stm:
  nginx-load-balancer:
volumes:
  stm-mysql-tests-volume:
