#!/bin/bash

# Buy and download the most recent 'BAG Adressen - Uitgebreid - CSV'
# from https://geotoko.nl/datasets?rid=24b6070d-5a92-4109-8fcd-a1d7cc000801
# NB: from the moment that gemeenten start to update the stembureaus
# till election day you need to buy and download the latest monthly
# released version of this file into `docker/docker-entrypoint-initdb.d`,
# unzip it and use this script to update our database
MYSQL_CONTAINER="stm_mysql_1"
DB_PASSWORD="<DB_PASSWORD>"
NETWORK="stm_stm"
CMD="mysql --local_infile=1 -h $MYSQL_CONTAINER -u root --password=$DB_PASSWORD -e 'source /docker-entrypoint-initdb.d/bag.sql'"

docker run --rm --network $NETWORK -v `pwd`/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d:rw mysql bash -c "$CMD"
