#!/bin/bash

# Checks if a new BAG release is available; if yes then it downloads and loads it
NEW_TIME=`curl -s https://data.nlextract.nl/bag/csv/ | grep 'bag-adressen-full-laatst.csv.zip' | grep -o '....-..-.. ..:..'`
if [ "$NEW_TIME" != "`cat last_bag_download.txt`" ]; then
    echo new!
    echo $NEW_TIME > last_bag_download.txt

    cd docker-entrypoint-initdb.d
    wget -nd 'https://data.nlextract.nl/bag/csv/bag-adressen-full-laatst.csv.zip'
    unzip bag-adressen-full-laatst.csv.zip

    MYSQL_CONTAINER="stm_mysql_1"
    DB_PASSWORD="<DB_PASSWORD>"
    NETWORK="stm_stm"
    CMD="mysql -h $MYSQL_CONTAINER -u root --password=$DB_PASSWORD -e 'source /docker-entrypoint-initdb.d/bag.sql'"

    docker run --rm --network $NETWORK -v `pwd`/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d:rw mysql bash -c "$CMD"
fi
