Beste gemeente {{ gemeente.gemeente_naam }},
<br>
<br>
{{ time_phrase }} zijn gegevens van stembureaus van uw gemeente aangepast op WaarIsMijnStemlokaal.nl.
<br>
<br>
Dit is mogelijk door u zelf aangepast, of door collega's die ook toegang hebben tot
WaarIsMijnStemlokaal.nl, of op verzoek door een beheerder van WaarIsMijnStemlokaal.nl.
<br>
<br>
Via deze mail geven wij een overzicht van de gewijzigde gegevens ter controle.
<br>
<br>
{% for change in changes %}
{{ change | safe }}<br>
{% endfor %}
<br>
<br>
Met vriendelijke groet,
<br>
Open State Foundation namens WaarIsMijnStemlokaal.nl
