{% if user.admin %}
Beste admin,
{% else %}
Beste medewerker van de gemeente{% if user.gemeenten|length > 1 %}n{% endif %} {{ user.gemeenten|map(attribute='gemeente_naam')|join(', ') }},
{% endif %}
<br>
<br>
<br>
Om uw wachtwoord voor <a href="https://waarismijnstemlokaal.nl" target="_blank" rel="noopener">WaarIsMijnStemlokaal.nl</a> te veranderen <a href="{{ url_for('user_reset_wachtwoord', token=token, _external=True) }}" target="_blank" rel="noopener">klik dan op deze link</a>.
<br>
<br>
U kunt ook de volgende pagina bezoeken:
<br>
{{ url_for('user_reset_wachtwoord', token=token, _external=True) }}
<br>
<br>
Deze pagina komt over 24 uur te vervallen, mocht u uw wachtwoord daarna alsnog willen aanpassen <a href="{{ url_for('user_reset_wachtwoord_verzoek', _external=True) }}" target="_blank" rel="noopener">vraag dan opnieuw een nieuw wachtwoord aan</a>.
<br>
<br>
Als u geen verandering van uw wachtwoord heeft aangevraagd dan kunt u dit bericht negeren.
<br>
<br>
<br>
Met vriendelijke groet,
<br>
Open State Foundation namens WaarIsMijnStemlokaal.nl
