<p>Beste medewerker van de gemeente {{ user.gemeente }},</p>
<p>
<p>
  Om uw wachtwoord voor <a href="https://waarismijnstemlokaal.nl" target="_blank">waarismijnstemlokaal.nl</a> te veranderen <a href="{{ url_for('gemeente_reset_wachtwoord', token=token, _external=True) }}">klik dan op deze link</a>.
<p>
<p>U kunt ook de volgende pagina bezoeken:</p>
<p>{{ url_for('gemeente_reset_wachtwoord', token=token, _external=True) }}</p>
<p>
<p>Deze pagina komt over 24 uur te vervallen, mocht u uw wachtwoord daarna alsnog willen aanpassen <a href="{{ url_for('gemeente_reset_wachtwoord_verzoek', _external=True) }}">vraag dan opnieuw een nieuw wachtwoord aan</a>.</p>
<p>
<p>Als u geen verandering van uw wachtwoord heeft aangevraagd dan kunt u dit bericht negeren.</p>
<p>
<p>Met vriendelijke groet,</p>
<p>Open State Foundation namens waarismijnstemlokaal.nl</p>
