{% if user.admin %}
Beste admin,
{% else %}
Beste gemeente,
{% endif %}
<br>
<br>
<br>
Op {{ config['ELECTION_DATE_DAY_MONTH'] }} vinden de {{ config['ELECTION_TYPE'] }} plaats. Hierbij nodigen wij u graag weer uit om deel te nemen aan het platform <a href="https://waarismijnstemlokaal.nl/" target="_blank" rel="noopener">Waar is mijn stemlokaal</a>, zodat we gezamenlijk ervoor kunnen zorgen dat de kiezer zo makkelijk mogelijk de weg naar de stembus kan vinden.
<br>
<br>
'Waar is mijn stemlokaal' is het platform waar gemeenten informatie over stembureaus voor iedereen beschikbaar maken. Het initiatief wordt gesteund door het ministerie van Binnenlandse Zaken en Koninkrijksrelaties, de VNG en de Kiesraad. Tijdens de afgelopen verkiezingen leverde 90% van alle gemeenten de gegevens aan en is de website bijna 800.000 keer gebruikt. De gegevens worden na de verkiezingen ook als open data beschikbaar gesteld via data.overheid.nl.
Daarnaast maken diverse media gebruik van de data en wordt het op die manier nog honderdduizenden keren getoond via (lokale) nieuwswebsites.
<br>
<br>
<b>Wat vragen we van u?</b>
<br>
Graag ontvangen wij van u informatie over alle stembureaus in uw gemeente. Onderaan vindt u meer instructies, maar er zijn drie simpele manieren om uw stembureaus aan te leveren:
<ol>
    <li>Log in en download een deels vooringevuld of leeg stembureau-spreadsheet en voer daar (de wijzigingen van) uw stembureaus in. Vervolgens uploadt u de spreadsheet op de website en klikt u op de 'Publiceer'-knop;</li>
    <li>of, log in en voer de stembureaus direct in via het webformulier en klik daarna op de 'Publiceer'-knop;</li>
    <li>of, geautomatiseerd aanleveren van de stembureaugegevens via een koppeling met uw stembureausoftware als uw gemeente gebruik maakt van Stembureaumanager van Partners 4 IT, Verkiezingsportal van TSA Verkiezingen of Procura Verkiezingen van Shift2. Verderop in deze e-mail staan verdere instructies.</li>
</ol>
Voor manieren 1 en 2 moet u inloggen: <a href="{{ url_for('user_reset_wachtwoord', token=token, _external=True) }}" target="_blank" rel="noopener">Maak een wachtwoord aan voor uw account</a> en log in met uw e-mailadres {{ user.email }}.
<br>
<br>
Optioneel: nadat u uw stembureaus gepubliceerd heeft kunt u de handige kaart met stembureaus op uw gemeentewebsite embedden/insluiten.
<br>
<br>
Ter info: De deels vooringevulde stembureau-spreadsheet van uw gemeente is gebaseerd op uw stembureaus van de Europese Parlementsverkiezingen van 6 juni 2024. U kunt daar de wijzigingen in uw stembureaus doorvoeren.
<br>
<br>
<b>NB</b>: Er wordt de komende weken nog gewerkt aan de vormgeving van de website, deze zult u dus misschien zien veranderen. U kunt echter zonder problemen de website gebruiken en de stembureaus invoeren.
<br>
<br>
<b>Hoe kan ik inloggen?</b>
<br>
Er is al een account voor uw gemeente aangemaakt met het e-mailadres {{ user.email }}. Om in te loggen hoeft u alleen nog een <a href="{{ url_for('user_reset_wachtwoord', token=token, _external=True) }}" target="_blank" rel="noopener">wachtwoord aan te maken voor uw account</a>.
<br>
<br>
U kunt ook de volgende pagina bezoeken:
<br>
{{ url_for('user_reset_wachtwoord', token=token, _external=True) }}
<br>
<br>
<u>Deze pagina komt over 24 uur te vervallen, dus maak alvast een account aan</u>. Mocht u niet binnen die tijd een wachtwoord aangemaakt hebben dan kunt u een <a href="{{ url_for('user_reset_wachtwoord_verzoek', _external=True) }}" target="_blank" rel="noopener">nieuw verzoek indienen</a>.
<br>
<br>
<b>Instructies</b>
<br>
De volledige instructies, inclusief video's, voor het invoeren van de stembureaus vindt u op de website nadat u bent ingelogd. U kunt deze ook als <a href="https://waarismijnstemlokaal.nl/files/Instructies_Waar-is-mijn-stemlokaal.pdf" target="_blank" rel="noopener">PDF downloaden</a> en bijvoorbeeld printen. We raden u aan deze door te nemen.
<br>
<br>
<b>Extra account toevoegen</b>
<br>
Als u een ander account wilt toevoegen voor uw gemeente, <a href="{{ url_for('signup_form', _external=True) }}" target="_blank" rel="noopener">vul dan dit formulier in</a>. Dit is handig als u één of meerdere collega's ook toegang wilt geven.
<br>
<br>
<b>Geautomatiseerd aanleveren van de stembureaugegevens</b>
<br>
Veel gemeenten beheren de gegevens van hun stembureaus via speciale stembureausoftware. Wij hebben inmiddels al enkele koppelingen met zulke software gemaakt, waardoor alle stembureaugegevens en eventuele latere wijzigingen automatisch worden ingeladen in 'Waar is mijn stemlokaal' (volgens de <a href="https://vng.nl/artikelen/common-ground" target="_blank" rel="noopener">Common Ground</a> principes van VNG). Dit is de simpelste manier om uw stembureaus aan te leveren, want het enige dat u hoeft te doen is de koppeling in uw stembureausoftware aanzetten. Maakt uw gemeente gebruik van onderstaande stembureausoftware, activeer dan de koppeling (de gegevens worden daarna binnen een uur ingeladen):
<ul>
    <li><a href="https://stembureaumanager.nl/" target="_blank" rel="noopener">Stembureaumanager</a> (SBM) van Partners 4 IT: zet de 'Waar is mijn stemlokaal API'-module aan.</li>
    <li><a href="https://www.tsaverkiezingen.nl/producten/verkiezingsportal" target="_blank" rel="noopener">Verkiezingsportal</a> van TSA Verkiezingen: via de optie Stembureaus &#x2192; Verkiezinginbeeld.nl.</li>
    <li><a href="https://www.shift2.nl/verkiezingen" target="_blank" rel="noopener">Procura Verkiezingen</a> van Shift2.</li>
</ul>
Maakt uw gemeente gebruik van andere stembureausoftware en wilt u ook gebruik maken van geautomatiseerde aanlevering? Vraag uw softwareleverancier dan om contact op te nemen via <a href="mailto:stemlokaal@openstate.eu">stemlokaal@openstate.eu</a>.
<br>
<br>
<b>Vragen of contact?</b>
<br>
Antwoorden op de meeste vragen die wij ontvangen staan <a href="https://waarismijnstemlokaal.nl/files/Instructies_Waar-is-mijn-stemlokaal.pdf" target="_blank" rel="noopener">in de instructies</a>. Komt u daar niet uit of heeft u andere vragen, neem dan contact op met ons via <a href="mailto:stemlokaal@openstate.eu">stemlokaal@openstate.eu</a>.
<br>
<br>
<br>
Met vriendelijke groet,
<br>
Open State Foundation namens WaarIsMijnStemlokaal.nl
<br>
E-mail: <a href="mailto:stemlokaal@openstate.eu">stemlokaal@openstate.eu</a>
<br>
Telefoon: 020 308 0567
<br>
Kattenburgerstraat 5, 1018 JA, Amsterdam
