Beste mevrouw of meneer,
<br>
<br>
<br>
Op het platform 'Waar is mijn stemlokaal' kunnen kiezers eenvoudig hun dichtstbijzijnde stemlokaal opzoeken. Dit platform is een samenwerking tussen het Ministerie van Binnenlandse Zaken en Koninkrijksrelaties, VNG en Open State Foundation.
<br>
<br>
Tijdens de afgelopen verkiezingen waren de stemlokalen van alle 358 (bijzondere) gemeenten beschikbaar. Hierdoor hebben bijna een half miljoen bezoekers hun stemlokaal opgezocht. Voor de <b>Europese Parlementsverkiezingen</b> vragen we alle gemeenten wederom om hun stemlokalen te publiceren via 'Waar is mijn stemlokaal'.
<br>
<br>
Wij hebben voor uw gemeente de gegevens al ingevuld op basis van de stembureaus van de Provinciale Statenverkiezingen 2019 (of op basis van de kiescollegeverkiezingen 2019 voor de BES-eilanden). Als uw stemlokalen hetzelfde zijn dan hoeft u enkel in te loggen en op de ‘Publiceer’-knop te klikken. Als er veranderingen zijn dan kunt u deze eenvoudig via de website doorvoeren.
<br>
<br>
<b><a href="https://waarismijnstemlokaal.nl/gemeente-stemlokalen-overzicht" target="_blank" rel="noopener">Publiceer of wijzig de stembureaus van uw gemeente</a></b>
<br>
<br>
Mocht u uw wachtwoord vergeten zijn dan kunt u een <a href="{{ url_for('user_reset_wachtwoord_verzoek', _external=True) }}" target="_blank" rel="noopener">nieuw wachtwoord aanmaken</a>. De stemlokalen kunnen tot en met <b><u>10 mei 2019</u></b> worden gepubliceerd. Wees er dus snel bij!
<br>
<br>
<b><u>Achtergrondinformatie</u></b>
<br>
<b>Over 'Waar is mijn stemlokaal'</b>
<br>
Op 23 mei vinden de Europese Parlementsverkiezingen plaats. Het ministerie van BZK, VNG en Open State Foundation willen met open data mogelijk maken dat kiezers eenvoudig hun dichtstbijzijnde stembureau kunnen opzoeken. Tijdens de verkiezingen van de afgelopen jaren hebben miljoenen mensen deze informatie gebruikt. Gemeenten kunnen via het platform 'Waar is mijn stemlokaal' hun lijsten met stembureaus publiceren. Om het voor u zo makkelijk mogelijk te maken hebben wij voor uw gemeente de gegevens al ingevuld op basis van de stembureaus van de Provinciale Statenverkiezingen 2019 (of op basis van de kiescollegeverkiezingen 2019 voor de BES-eilanden).
<br>
<br>
<b>Handig: gebruik de kaart met stembureaus op uw eigen website</b>
<br>
Na het publiceren van de stembureaus kunt u de kaart insluiten/embedden op uw gemeentewebsite. Zo kunnen uw inwoners makkelijk een stembureau vinden.
<br>
<br>
<b>Instructies</b>
<br>
De volledige instructies voor het invoeren van de stembureaus vindt u op de website nadat u bent ingelogd. U kunt deze ook als <a href="https://waarismijnstemlokaal.nl/files/Instructies_Waar-is-mijn-stemlokaal.pdf">PDF downloaden</a> en bijvoorbeeld printen. We raden u aan deze door te nemen. U hoeft niet alle gegevens opnieuw in te voeren, maar slechts te controleren of de gegevens nog kloppen en waar nodig de gegevens aan te passen.
<br>
<br>
<b>Vragen of contact?</b>
<br>
Heeft u vragen? Neem dan contact op met <a href="mailto:stemlokaal@openstate.eu">stemlokaal@openstate.eu</a> van Open State Foundation.
<br>
<br>
<br>
Met vriendelijke groet,
<br>
Open State Foundation namens WaarIsMijnStemlokaal.nl
