body {
  background-color: $light-grey;
  color: $dark-grey;
}

main {
  background-color: $white;
  padding: 20px;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-size: 22px;
  font-weight: bold;
}

a {
  color: $light-blue;
}

#radio-button-stembureaus {
  background-color: $red;
  border-color: black;

  &.active {
    background-color: darken($red, 2%) !important;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.4)
  }
}

#radio-button-afgiftepunten {
  background-color: $blue;
  border-color: black;

  &.active {
    background-color: darken($blue, 2%) !important;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.4)
  }
}

#radio-button-alles {
  background-color: $grey;
  border-color: black;

  &.active {
    background-color: darken($grey, 2%) !important;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.4)
  }
}

#dag-filter {
  display: inline-block;
  width: 180px !important;
}

.background-lighter-grey {
  background-color: $lighter-grey;
}

.background-light-blue {
  background-color: $light-blue;
}

.text-blue {
  color: $blue;
}

.text-red {
  color: $red;
}

.text-orange {
  color: $orange;
}

.text-white {
  color: white;
}

.text-grey {
  color: grey;
}

.title-pad {
  padding: 0 30px;
}

.action-bar {
  border: 1px $light-blue solid !important;
}

.block-padding {
  padding: 20px 40px;
  border: 15px white solid;
}

.upload-block {
  color: $light-grey;
}

table.floatThead-table {
  background-color: #FFF;
}

.breakword {
  word-break: break-all;
}

dl {
  margin-bottom: 0;
}

dt {
  width: 150px !important;
}

dd {
  width: 120px;
  margin-left: 150px !important;
}

.awesome-marker {
  background-image: url('../images/markers-soft.png');
}

.awesome-marker-shadow {
  background-image: url('../images/markers-shadow.png');
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000000;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

@media(min-width:1200px) {
  .no-gutter-xl {
    padding-left: 0;
    padding-right: 0;
  }
}

@media(min-width:992px) {
  .vertical-align {
    display: flex;
    align-items: center;
  }
}

@media(max-width:767px) {
  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 18px;
  }
}

@media(max-width:576px) {
  .btn-group .btn {
    padding: 6px 4px;
    font-size: 12px;
  }

  #dag-filter {
    margin: 7px 0;
    padding: 6px 0;
    width: 160px !important;
  }
}
