// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// We use Bootstrap's horizontal <dl> to format the openingstijden, but
// we don't want the <dd> to go below the <dt> on smaller screens, so
// set the breakpoint to 0
$dl-horizontal-breakpoint: 0;

// Colors
$white:                 #FFF;
$black:                 #000;
$brand-primary:         $black;
$dark-grey:             #3D4A4C;
$light-grey:            #F2F2F2;
$lighter-grey:          #F7F7F7;
$dark-blue:             #0E74B3;

$red:                   #D63E2A;
$blue:                  #38AADD;
$orange:                #F69730;
$grey:                  #797676;

// Typography
//## Font, line-height, and color for body text, headings, and more.
$font-family-title:       'Montserrat', sans-serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   'Source Code Pro', monospace !default;
$font-family-base:        $font-family-title !default;
