{% extends "base.html" %}
{% block head %}
  <title>Waar is mijn stemlokaal - 500</title>
  <meta property="og:title" content="Waar is mijn stemlokaal - 500" />
  {{ super() }}
{% endblock %}

{% block content %}
  <div class="container-md">
    <h1 class="text-center">Er is een onverwachte fout opgetreden</h1>
    <p class="text-center">De websitebeheerder is op de hoogte gesteld. Excuses voor het ongemak!</p>
    <p class="text-center"><a href="{{ url_for('index') }}">Naar de homepage</a></p>
  </div>
{% endblock %}
