{% extends "base.html" %}
{% block head %}
  <meta property="og:title" content="Waar is mijn stemlokaal - Data" />
  {{ super() }}
{% endblock %}

{% block content %}
  <h1>Data</h1>
  De data van de stembureaus is voor iedereen vrij beschikbaar om te downloaden en te hergebruiken. (Let op, de data is nu nog niet compleet; vanaf maandag zitten alle stembureaus er in).

  <br>
  <br>

  <ul>
    <li>Stembureaus referendum over de Wet op de inlichtingen- en veiligheidsdiensten: [<a href="https://ckan.dataplatform.nl/dataset/stembureaus-referendum-over-de-wet-op-de-inlichtingen-en-veiligheidsdiensten" target="_blank">Metadata</a>], [<a href="https://ckan.dataplatform.nl/dataset/stembureaus-referendum-over-de-wet-op-de-inlichtingen-en-veiligheidsdiensten/resource/67f5d14c-b625-485f-9f47-8faccc5e27bc" target="_blank">Data Explorer en API</a>] en [<a href="https://ckan.dataplatform.nl/datastore/dump/67f5d14c-b625-485f-9f47-8faccc5e27bc">CSV</a>]</li>

    <li>Stembureaus gemeenteraadsverkiezingen 2018: [<a href="https://ckan.dataplatform.nl/dataset/stembureaus-nederland-gemeenteraadsverkiezingen-2018" target="_blank">Metadata</a>], [<a href="https://ckan.dataplatform.nl/dataset/stembureaus-nederland-gemeenteraadsverkiezingen-2018/resource/2fc13394-c2fc-4492-843c-cba07e4bf8f5" target="_blank">Data Explorer en API</a>] en [<a href="https://ckan.dataplatform.nl/datastore/dump/2fc13394-c2fc-4492-843c-cba07e4bf8f5">CSV</a>]</li>
  </ul>
{% endblock %}
