{% extends "embed.html" %}
{% block content %}
<div class="row">
  <div class="col-xs-12">
    <ol class="breadcrumb">
      <li><a href="/" target="_blank" rel="noopener">Nederland</a></li>
      <li class="active">{{ gemeente }}</li>
    </ol>
  </div>
</div>
<div class="row">
  {% if not records %}
    Geen stembureaus gevonden voor {{ gemeente }}.
    <br>
    <br>
    Terug naar de <a href="/">homepage</a>.
  {% else %}

    {% if disclaimer %}
    <div class="col-xs-12">
      {{ disclaimer }}
      <br>
      <br>
    </div>
    {% endif %}

    <div class="col-xs-12 col-sm-12 col-md-6">
      {% include "map.html" %}
      <div class="row">
        <div class="col-xs-6" style="padding-top: 20px; padding-bottom: 20px;">
          <a href="#" id ="btn-location">
            <i class="fa fa-map-marker-alt" aria-hidden="true"></i> Gebruik mijn locatie
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
      {% if show_search %}
      <div class="row">
        <div class="col-xs-12">
          <form action="" method="get" class="form-inline" id="form-search">
              <div class="form-group">
                <label>
                Zoek straat/naam van een stembureau <i class="fa fa-search" aria-hidden="true"></i>
                </label>
                <input type="text" class="form-control" name="query" value="" placeholder="stembureau">
              </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" id="results-search">
        </div>
      </div>
      {% endif %}
    </div>
  {% endif %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% include "map_scripts.html" %}
<script>
  $(document).ready(function() {
    StembureausApp.show(StembureausApp.filtered_locations);
  });
</script>
{% endblock %}
