{% extends "embed.html" %}
{% block content %}
<div class="container-fluid breadcrumb-page">
  <div class="row">
    <div class="col-xs-12">
      <ol class="breadcrumb">
        <li><a href="/" target="_blank" rel="noopener">Nederland</a></li>
        <li><a href="{{ url_for('show_gemeente', gemeente=gemeente) }}" target="_blank" rel="noopener">{{ gemeente }}</a></li>
        <li class="active">{{ records[0]['Naam stembureau'] }}</li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        {# ONLY RELEVANT DURING COVID
        {% set niet_open_voor_algemeen_publiek = false %}
        {% if 'niet open voor algemeen publiek' in records[0]['Extra adresaanduiding'].lower() %}
          {% set niet_open_voor_algemeen_publiek = true %}
        {% endif %}
        #}
        <h1>
          {# ONLY RELEVANT DURING COVID
          {% if niet_open_voor_algemeen_publiek %}
            <i class="fa fa-pencil-alt text-orange"></i>
          {% else %}
          #}
            <i class="fa fa-pencil-alt text-red"></i>
          {#
          {% endif %}
          #}
          Stembureau
          {% if records[0]['Nummer stembureau'] %}
            #{{ records[0]['Nummer stembureau'] }}
          {% endif %}
          {{ records[0]['Naam stembureau'] }}
        </h1>
      </div>
    </div>
  </div>

  <div class="row">
    {% if disclaimer %}
      <div class="col-xs-12 text-center">
        {{ disclaimer }}
        <br>
        <br>
      </div>
    {% endif %}

    {# ONLY RELEVANT FOR GEMEENTERAADSVERKIEZINGEN
    {% if gemeente == 'Amsterdam' %}
      <div class="col-xs-12 text-center">
        NB: tijdens de gemeenteraadsverkiezingen zijn er in Amsterdam ook commissieverkiezingen, daarvoor moet u stemmen in een stembureau in het stadsdeel of stadsgebied dat op uw stempas staat.
      </div>
    {% endif %}
    {% if gemeente == 'Rotterdam' %}
      <div class="col-xs-12 text-center">
        NB: tijdens de gemeenteraadsverkiezingen zijn er in Rotterdam ook wijkraadverkiezingen, daarvoor moet u stemmen in een stembureau in de wijkraad die op uw stempas staat.
      </div>
    {% endif %}
    #}

    <div class="col-xs-12 col-sm-12 col-md-8">
      <h2><i class="fa fa-map-marked-alt text-green"></i> Kaart</h2>
      <div id="map" style="height: 500px;"></div>
    </div>
    {% if show_infobar %}
    <div class="col-xs-12 col-sm-12 col-md-4">
      <div class="row">
        <div class="col-xs-12">
          {% for record in records %}
            {# ONLY RELEVANT DURING COVID
            {% set niet_open_voor_algemeen_publiek = false %}
            {% if 'niet open voor algemeen publiek' in record['Extra adresaanduiding'].lower() %}
              {% set niet_open_voor_algemeen_publiek = true %}
            {% endif %}
            #}
            <h2><i class="fa fa-info text-purple"></i> Stembureau informatie</h2>
            <h3>Adres</h3>
            <p>
              {% if record['Straatnaam'] %}
                {{ record['Straatnaam'] }}
              {% endif %}
              {% if record['Huisnummer'] %}
                {{ record['Huisnummer'] }}
              {% endif %}
              {% if record['Huisletter'] %}
                {{ record['Huisletter'] }}
              {% endif %}
              {% if record['Huisnummertoevoeging'] %}
                -{{ record['Huisnummertoevoeging'] }}
              {% endif %}
              <br>
              {% if record['Postcode'] %}
                {{ record['Postcode'] }},
              {% endif %}
              {% if record['Plaats'] %}
                {{ record['Plaats'] }}
              {% else %}
                <i>Gemeente {{ record['Gemeente']}}</i>
              {% endif %}
            </p>
            {# ONLY RELEVANT DURING COVID
            {% if niet_open_voor_algemeen_publiek %}
              <p class="color: text-red" style="display: inline"><b>NB: {{ record['Extra adresaanduiding'] }}</b></p>
              <span class="color: text-black">
                <i class="fa fa-question-circle" data-toggle="popover" data-placement="auto" data-html="true" data-trigger="click" title="<b>Stembureau met beperkte toegang</b>" data-content="Vanwege de risico's van de Covid-19 pandemie heeft dit stembureau beperkte toegang. Dat kan bijvoorbeeld handig zijn voor stemlokalen op plaatsen waar extra bescherming gewenst is, bijvoorbeeld in verzorgingshuizen. Hier kan dan alleen worden gestemd door de kiezers die rechtmatig op die locatie mogen verblijven. Omdat het voor andere kiezers dan niet mogelijk is om op de gang van zaken toe te zien, is er in deze stembureaus een onafhankelijke waarnemer aanwezig. Zie Tijdelijke wet verkiezingen COVID-19 art. 4."></i>
              </span>
            {% else %}
            #}
              <p>{{ record['Extra adresaanduiding'] }}</p>
            {#
            {% endif %}
            #}

            <p>
              <a href="https://geohack.toolforge.org/geohack.php?language=en&params={{ record['Latitude'] }}_N_{{ record['Longitude'] }}_E_type:landmark&pagename=Stembureau {{ record['Naam stembureau'] }}" target="_blank" rel="noopener">route (via externe dienst)</a>
            </p>

            {% if record['Website locatie'] %}
              <b>Website van de stembureaulocatie</b>: <a href="{{ record['Website locatie'] }}" target="_blank" rel="noopener">{{ record['Website locatie'] }}</a>
            {% endif %}

            {# TODO: should only be included in elections for waterschapsverkiezingen or stadsdelen #}
            {% if record['Verkiezingen'] %}
            <br>
            <b>In dit stembureau kunt u voor de waterschapsverkiezingen op de volgende waterschappen stemmen</b>:
              <ul>
                {% for verkiezing in record['Verkiezingen'].split(';') %}
                <li>{{ verkiezing.lstrip('waterschapsverkiezingen voor ') }}</li>
                {% endfor %}
              </ul>
            {% endif %}
            {# #}

            <h3>Openingstijden</h3>
            <dl class="dl-horizontal">
              <dt style="text-align: left;">{{ record['Openingstijd'] | format_date }}:</dt>
              <dd style="color: green">{{ record['Openingstijd'].split('T')[1][0:5] }} &dash; {{ record['Sluitingstijd'].split('T')[1][0:5] }}</dd>
            </dl>

            <h3>Toegankelijkheid</h3>
            <ul>
              <li><b>Toegankelijk voor mensen met een lichamelijke beperking</b>: {% if record['Toegankelijk voor mensen met een lichamelijke beperking'] == 'ja' %}Ja{% else %}Nee{% endif %}</li>

              <li><b>Toegankelijke ov-halte</b>: {{ record['Toegankelijke ov-halte'] }}</li>

              <li><b>Auditieve hulpmiddelen</b>: {{ record['Auditieve hulpmiddelen'] }}</li>

              <li>
                <b>Visuele hulpmiddelen</b>: {{ record['Visuele hulpmiddelen'] }}
                <ul>
                  <li>
                    NB: er is verplicht een leesloep aanwezig in elk stembureau
                  </li>
                </ul>
              </li>

              <li><b>Akoestiek geschikt voor slechthorenden</b>: {% if record['Akoestiek geschikt voor slechthorenden'] == 'ja' %}Ja{% elif record['Akoestiek geschikt voor slechthorenden'] == 'nee' %}Nee{% else %}{% endif %}</li>

              <li><b>Gehandicaptentoilet</b>: {% if record['Gehandicaptentoilet'] == 'ja' %}Ja{% elif record['Gehandicaptentoilet'] == 'nee' %}Nee{% else %}{% endif %}</li>

              <li><b>Extra toegankelijkheidsinformatie</b>: {{ record['Extra toegankelijkheidsinformatie'] }}</li>
            </ul>

            <h3>Bijzonderheden</h3>
            <b>Tellocatie</b>: {% if record['Tellocatie'] == 'ja' %}Ja{% elif record['Tellocatie'] == 'nee' %}Nee{% else %}{% endif %}

            <h3>Gemeente {{ gemeente }}</h3>
            <p>
              <b>Contactgegevens</b>: {{ record['Contactgegevens gemeente'] }}
              <br>
              <b>Verkiezingswebsite</b>: <a href="{{ record['Verkiezingswebsite gemeente'] }}" target="_blank" rel="noopener">{{ record['Verkiezingswebsite gemeente'] }}</a>
            </p>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% include "map_scripts.html" %}
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
      setTimeout(
        function() {$('[data-toggle="popover"]').popover()},
        1
      );
    })

    /* methode om popovers te verbergen wanneer ergens geklikt wordt. */
    $('body').on('click', function (e) {
      $('[data-toggle=popover]').each(function () {
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
          (($(this).popover('hide').data('bs.popover') || {}).inState || {}).click = false;
        }
      });
    });
  </script>
{% endblock %}
