{% extends "embed.html" %}
{% block content %}
  <div class="container-fluid breadcrumb-page">
    <div class="row">
      <div class="col-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/" target="_blank" rel="noopener">Nederland</a></li>
          <li class="breadcrumb-item active">{{ gemeente }}</li>
        </ol>
      </div>
    </div>

    {% if show_search %}
    <header aria-label="Gebruikt u een screenreader? Gebruik dan niet de Filters en Kaart, maar navigeer naar de 'Stembureaus' h2 heading en zoek naar de naam of het adres van een stembureau. Open de pagina van het stembureau voor alle informatie over dat stembureau." class="text-center">
    {% else %}
    <header aria-label="Gebruikt u een screenreader? Deze embed toont enkel een kaart. U kunt beter naar WaarIsMijnStemlokaal.nl gaan, waar naast de kaart de informatie ook op een manier getoond wordt die wel geschikt is voor een screenreader."  class="text-center">
    {% endif %}
      <h1 aria-describedby="page-subtitle"><i class="fa fa-users text-dark-blue"></i> Gemeente {{ gemeente }}</h1>
      <p id="page-subtitle">{{ upcomingElection }}</p>
    </header>

    <div class="row">
      {% if not records %}
        <div class="col-12 text-center">
          <br>
          <p>Geen stembureaus gevonden voor {{ gemeente }}.</p>
          <br>
          Terug naar de <a href="/">homepage</a>.
        </div>
      {% else %}
        {% if disclaimer %}
          <div class="col-12 text-center">
            {{ disclaimer }}
            <br>
            <br>
          </div>
        {% endif %}

        {# ONLY RELEVANT FOR GEMEENTERAADSVERKIEZINGEN #}
        {% if gemeente == 'Amsterdam' %}
          <div class="col-12 text-center">
            NB: tijdens de gemeenteraadsverkiezingen zijn er in Amsterdam ook commissieverkiezingen, daarvoor moet u stemmen in een stembureau in het stadsdeel of stadsgebied dat op uw stempas staat.
          </div>
        {% endif %}
        {% if gemeente == 'Rotterdam' %}
          <div class="col-12 text-center">
            NB: tijdens de gemeenteraadsverkiezingen zijn er in Rotterdam ook verkiezingen voor wijk- en dorpsraden, daarvoor kunt u alleen stemmen in een stembureau in de wijk waar u woont.
          </div>
        {% endif %}
        {# #}

        <div class="col-12 col-lg-9">
          {% include "map.html" %}
        </div>
        <div class="col-12 col-lg-3">
          {% if show_search %}
          <hr class="d-lg-none">
          <h2><i class="fa fa-pencil-alt text-red"></i> Stembureaus</h2>
          <div class="row">
            <div class="col-12">
              <form action="" method="get" class="form-inline" id="form-search">
                  <div class="form-group">
                    <label for="zoek-stembureau">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    </label>
                    <input id="zoek-stembureau" type="text" class="form-control" name="query" value="" placeholder="Zoek stembureau">
                  </div>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-12" id="results-search">
            </div>
          </div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% include "map_scripts.html" %}
  <script>
    $(document).ready(function() {
      StembureausApp.show(StembureausApp.filtered_locations);
    });

    $(function () {
      $('[data-bs-toggle="tooltip"]').tooltip();
      setTimeout(
        function() {$('[data-bs-toggle="popover"]').popover()},
        1
      );
    })

    /* methode om popovers te verbergen wanneer ergens geklikt wordt. */
    $('body').on('click', function (e) {
      $('[data-bs-toggle=popover]').each(function () {
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
          (($(this).popover('hide').data('bs.popover') || {}).inState || {}).click = false;
        }
      });
    });
  </script>
{% endblock %}
