<!doctype html>
<head lang="nl">
  {% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Waar is mijn stemlokaal</title>
  <meta name="description" content="Een stembureau bij jou in de buurt, zo gevonden">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" sizes="180x180" href="/static/dist/images/apple-touch-icon.png?v=m2LrpjR4Y0">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/dist/images/favicon-32x32.png?v=m2LrpjR4Y0">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/dist/images/favicon-16x16.png?v=m2LrpjR4Y0">
  <link rel="manifest" href="/static/dist/images/site.webmanifest?v=m2LrpjR4Y0">
  <link rel="mask-icon" href="/static/dist/images/safari-pinned-tab.svg?v=m2LrpjR4Y0" color="#5bbad5">
  <link rel="shortcut icon" href="/favicon.ico?v=m2LrpjR4Y0">
  <meta name="application-name" content="Waar is mijn stemlokaal">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="/static/dist/styles/main.css" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-32274817-14"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-32274817-14', {
      cookie_flags: 'max-age=7200;secure;samesite=none'
    },
    {
      'anonymize_ip': true
    });
  </script>

  <!-- H1ML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  {% endblock %}
</head>
<body style="background-color: white">
  <script>
      var StembureausApp = window.StembureausApp || {stembureaus: [],links_external: true};
      StembureausApp.links_external = true;
  </script>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  {% block scripts %}
    <script src="/static/dist/scripts/main.js"></script>
  {% endblock %}
</body>
