{% extends "base.html" %}
{% block head %}
  <meta property="og:title" content="Waar is mijn stemlokaal - Overzicht stembureaus en afgiftepunten" />
  {{ super() }}
{% endblock %}

{% block content %}
  <div>
    {% if current_user.gemeenten|length > 1 %}
    > <a href="{{ url_for('gemeente_selectie') }}">{{ gemeente.gemeente_naam }} [wijzig gemeente]</a>
    {% endif %}
    > <a href="{{ url_for('gemeente_stemlokalen_dashboard') }}">Dashboard</a> > Stembureaus en afgiftepunten
    <a class="btn btn-default pull-right" role="button" href="{{ url_for('gemeente_instructies') }}">Help</a>
  </div>

  <h1 class="title-pad">Stembureaus en afgiftepunten</h1>

  <br>

  Overzicht van de stembureaus en afgiftepunten van de gemeente {{ gemeente.gemeente_naam }} voor {{ verkiezing_string | safe }}.

  <br>
  <br>

  {% if upload_deadline_passed %}
    <span class="text-red">De deadline voor het toevoegen van stembureaus en afgiftepunten is verlopen.</span>
    <br>
  {% else %}
    <a class="btn btn-info" role="button" href="{{ url_for('gemeente_stemlokalen_edit') }}">Voeg nieuw stembureau/afgiftepunt toe</a>

    <br>
    <br>

    <form method="POST" action="">
      {{ publish_form.csrf_token }}
    {% if disable_publish_form %}
      {{ publish_form.submit(disabled=True) }} [de stembureaus en afgiftepunten zijn gepubliceerd]
    {% else %}
      {{ publish_form.submit }} [<span class="text-red">let op: er zijn wijzigingen in dit overzicht die u nog niet heeft gepubliceerd</span>]
    {% endif %}
    </form>
  {% endif %}

  <br>

  <div class="table-responsive">
    <table class="table table-striped table-hover table-condensed table-bordered fixed-header fixed-first-column">
      <thead>
        <tr>
            <th>
            </th>
          {% for field in field_order %}
            <th>
              {{ field }}
            </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
      {% for record in draft_records %}
        <tr>
          {% if not upload_deadline_passed %}
            <td>
              <a href="{{ url_for('gemeente_stemlokalen_edit', stemlokaal_id=record['UUID']) }}">[bewerk]</a>
            </td>
          {% endif %}
          {% for field in field_order %}
            <td>
              {% if record[field[:62]] != None %}
              {{ record[field[:62]] }}
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <br>

  {% if previous_url %}
  <a href="{{ previous_url }}">Vorige pagina</a>
  {% else %}
  Vorige pagina
  {% endif %}
  &nbsp;|&nbsp;
  {% if next_url %}
  <a href="{{ next_url }}">Volgende pagina</a>
  {% else %}
  Volgende pagina
  {% endif %}

  <br>
  <br>

  Pagina {{ page }} van {{ total_pages }} (stembureaus/afgiftepunten {{ start_record }} t/m {{ end_record }} van in totaal {{ total_records }} stembureaus/afgiftepunten)

{% endblock %}
{% block scripts %}
  {{ super() }}
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
      $('[data-toggle="popover"]').popover();
    })
  </script>
{% endblock %}
