{% extends "base.html" %}
{% block content %}
  <div>
    > Dashboard
  </div>

  <h1 class="title-pad">{{ current_user.gemeente_naam }}</h1>

  <br>

  Er zijn twee methoden om stembureaus toe te voegen, <a href="{{ url_for('gemeente_instructies') }}">klik hier voor meer informatie en instructies</a>.

  <br>
  <br>

  <div class="action-bar block-padding">
    U heeft voor {{ verkiezing_string | safe }} {{total_draft_records}} stembureau(s) opgeslagen en {{total_publish_records}} gepubliceerd.
    {% if show_publish_note %}
    <span class="text-red">Let op: er zijn wijzigingen in de stembureaus die u nog niet gepubliceerd heeft.</span>
    {% endif %}

    <br>
    <br>

    <a class="btn btn-info" role="button" href="{{ url_for('gemeente_stemlokalen_overzicht') }}">Stembureaus</a>
  </div>

  <br>
  <br>

  <div class="row">
    <div class="col-md-8 background-lighter-grey block-padding">
      <h2>Download 'leeg' of deels vooringevuld stembureau-spreadsheet</h2>
      <br>
      <br>
      - 'Leeg' stembureau-spreadsheet: <a href="/files/waarismijnstemlokaal.nl_invulformulier.ods"><b>.ods</b></a> of <a href="/files/waarismijnstemlokaal.nl_invulformulier.xlsx"><b>.xlsx</b></a>
      <br>
      <br>
      - Deels vooringevuld stembureau-spreadsheet met stembureaus van Tweede Kamerverkiezing 2017:
      {% if tk2017file %}
      .ods of .xlsx
      {% else %}
      <b>binnenkort voor de meeste gemeenten beschikbaar</b>
      {% endif %}
    </div>

    <div class="col-md-4 background-light-blue block-padding upload-block">
      <h2 class="text-white">Upload stembureau-spreadsheet</h2>

      <br>

      <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.data_file }}
        <br>
        Let op: uploaden verwijdert alle stembureaus die u eerder heeft toegevoegd!
        <br>
        {{ form.submit }}
      </form>
    </div>
  </div>
{% endblock %}
