{% extends "base.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Wachtwoord veranderen</h1>

  <br>
  <br>

  Voer je e-mailadres in en ontvang een e-mail waarmee je je wachtwoord kunt veranderen.

  <br>
  <br>

  <div class="edit-form">
    <form method="POST" action="">
      {{ form.csrf_token }}

      <div class="login-forms">
        {{ form.email.label }} {{ form.email }}
        {% for error in form.email.errors %}
          <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </div>

      <br>

      <div>
        {{ form.submit }}
      </div>
    </form>
  </div>
{% endblock %}
{% block scripts %}
  {{ super() }}
{% endblock %}
