{% extends "base.html" %}
{% block head %}
  <meta property="og:title" content="Waar is mijn stemlokaal - Dashboard" />
  {{ super() }}
{% endblock %}

{% block content %}
  <div>
    > Dashboard
  </div>

  <h1 class="title-pad">{{ current_user.gemeente_naam }}</h1>

  <br>

  <span style="color: red">Momenteel kunnen de stemlokalen nog niet aangepast worden voor de aankomende verkiezingen van 2019. Uiterlijk eind 2018 is dit weer mogelijk en wordt uw gemeente hiervan op de hoogte gesteld.</span>

  <br>
  <br>

  Er zijn twee methoden om stembureaus toe te voegen, <a href="{{ url_for('gemeente_instructies') }}">klik hier voor meer informatie en instructies</a>.

  <br>
  <br>

  <div class="action-bar block-padding">
    U heeft voor {{ verkiezing_string | safe }} {{total_draft_records}} stembureau(s) opgeslagen en {{total_publish_records}} gepubliceerd.
    {% if show_publish_note %}
    <span class="text-red">Let op: er zijn wijzigingen in de stembureaus die u nog niet gepubliceerd heeft.</span>
    {% endif %}

    <br>
    <br>

    <a class="btn btn-info" role="button" href="{{ url_for('gemeente_stemlokalen_overzicht') }}">Stembureaus</a>

    <br>
    <br>

    {% if toon_stembureaus_pagina %}
      <a class="btn btn-info" role="button" href="/s/{{ current_user.gemeente_naam }}">Toon gepubliceerde stembureaus op de kaart</a> [U kunt naar deze pagina linken of de pagina insluiten/embedden in uw gemeentenwebsite zodat de kiezers er gebruik van kunnen maken]
    {% else %}
      <a class="btn btn-info" role="button" disabled>Toon gepubliceerde stembureaus op de kaart</a> [Deze pagina is beschikbaar nadat u uw stembureaus heeft toegevoegd en gepubliceerd]
    {% endif %}
  </div>

  <br>
  <br>

  <div class="row">
    <div class="col-md-8 background-lighter-grey block-padding">
      <h2>Download 'leeg' of deels vooringevuld stembureau-spreadsheet</h2>
      <br>
      <br>
      - 'Leeg' stembureau-spreadsheet: <a href="/files/waarismijnstemlokaal.nl_invulformulier.xlsx"><b>.xlsx</b></a>
      <br>
      <br>
      - Deels vooringevuld stembureau-spreadsheet met stembureaus van Tweede Kamerverkiezing 2017:
      {% if vooringevuld %}
      <a href="{{ vooringevuld }}">.xlsx</a>
      {% else %}
      <b>niet beschikbaar voor uw gemeente</b>
      {% endif %}
    </div>

    <div class="col-md-4 background-light-blue block-padding upload-block">
      <h2 class="text-white">Upload stembureau-spreadsheet</h2>

      <br>

      {% if upload_deadline_passed %}
        <span class="text-red">De deadline voor het toevoegen van stembureaus is verlopen. Mocht uw gemeente nog geen stembureaus toegevoegd hebben dan worden de stembureaus van uw gemeenten op basis van de data van de <a href="http://geodienst.xyz/verkiezingen/" style="color: black;" target="_blank">Geodienst</a> van de Rijksuniversiteit Groningen toegevoegd.</span>
      {% else %}
        <form method="POST" enctype="multipart/form-data">
          {{ form.csrf_token }}
          {{ form.data_file }}
          <br>
          <b>Let op</b>: uploaden verwijdert alle stembureaus die u eerder heeft toegevoegd!
          <br>
          {{ form.submit }}
          <br>
          <b>NB</b>: Het uploaden van een bestand met vele tientallen of honderden stembureaus kan enkele minuten duren.
          <br>
          <b>NB</b>: De ondersteuning voor .ods bestanden werkt enkel tot 35 stembureaus. Mocht u meer stembureaus willen uploaden gebruik dan het .xsl(x) formaat.
        </form>
      {% endif %}

    </div>
  </div>
{% endblock %}
