{% extends "base.html" %}
{% block head %}
  <title>Waar is mijn stemlokaal - Nieuw wachtwoord</title>
  <meta property="og:title" content="Waar is mijn stemlokaal - Nieuw wachtwoord" />
  {{ super() }}
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="text-center">Nieuw Wachtwoord</h1>

    <br>
    <br>

    Voer een nieuw wachtwoord van minimaal 12 karakters in.

    <br>
    <br>

    <div class="edit-form">
      <form method="POST" action="">
        {{ form.csrf_token }}

        <div class="login-forms top-form">
          {{ form.Wachtwoord.label }} {{ form.Wachtwoord }}
          {% for error in form.Wachtwoord.errors %}
            <span style="color: red;">- {{ error }}</span>
            <br>
          {% endfor %}
        </div>

        <div class="login-forms">
          {{ form.Wachtwoord2.label }} {{ form.Wachtwoord2 }}
          {% for error in form.Wachtwoord2.errors %}
            <span style="color: red;">- {{ error }}</span>
            <br>
          {% endfor %}
        </div>

        <br>

        <div>
          {{ form.submit }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
