{% extends "base.html" %}
{% block content %}
  <div>
    > <a href="{{ url_for('gemeente_stemlokalen_dashboard') }}">Dashboard</a> > Instructies
  </div>

  <h1>Instructies 'Waar is mijn stemlokaal'</h1>

  <h2>Stembureaus toevoegen</h2>
  <p>Gemeenten kunnen op twee manieren hun data toevoegen aan 'Waar is mijn stemlokaal':</p>

  <ol>
    <li>Door een stembureau-spreadsheet te downloaden, alle stembureaus in te vullen en vervolgens de spreadsheet te uploaden;</li>
    <li>De stembureaus direct op deze website in te voeren.</li>
  </ol>

  <p>De ingevulde stembureaus worden automatisch voor alle verkiezingen waar uw gemeente aan meedoet opgeslagen. Dus als uw gemeente meedoet aan zowel de gemeenteraadsverkiezingen en het referendum dan hoeft u de gegevens maar eenmaal in te voeren.</p>

  <h3>1. Stembureau-spreadsheet downloaden en uploaden</h3>
  <p>Op de <a href="{{ url_for('gemeente_stemlokalen_dashboard') }}">dasboard-pagina</a> kunt u een <b>'leeg' stembureau-spreadsheet</b> downloaden (in .ods of .xlsx formaat) en daarin de stembureaus binnen uw eigen gemeente invullen. In de stembureau-spreadsheet wordt uitgelegd hoe u de stembureaus moet invullen.</p>

  <p>Voor de meeste gemeenten bieden wij op de <a href="{{ url_for('gemeente_stemlokalen_dashboard') }}">dasboard-pagina</a> ook een al <b>deels vooringevuld stembureau-spreadsheet</b> aan met informatie over de stembureaus van de Tweede Kamerverkiezingen 2017 (verzameld door Open State Foundation en Rijksuniversiteit Groningen). In plaats van een 'lege' stembureau-spreadsheet kunt u deze vooringevulde stembureau-spreadsheet dan downloaden en bewerken/aanvullen.</p>

  <p><b>Tip:</b>Als uw gemeente vele tientallen of honderden stembureaus heeft, vul dan eerst een paar stembureaus in de spreadsheet in (bv. 5 à 10 stembureaus) en upload de spreadsheet alvast als test. Als u bepaalde velden niet juist invult krijgt u meteen foutmeldingen te zien en bent u eerder op de hoogte van hoe u de spreadsheet moet invullen.

  <p>De ingevulde stembureau-spreadsheet kan vervolgens op de <a href="{{ url_for('gemeente_stemlokalen_dashboard') }}">dasboard-pagina</a> geüpload worden. De data wordt vervolgens gevalideerd. Als er velden niet goed ingevuld zijn dan krijgt u daar foutmeldingen van te zien. U moet dan de aanpassingen doorvoeren in de stembureau-spreadsheet en deze opnieuw uploaden. Als de data door de validatie heen komt krijgt u alle stembureaus in op een overzicht-pagina te zien. Hier kunt u alle stembureaus controleren en/of bewerken. Als alles in orde is klikt u op de blauwe 'Publiceer'-knop op de stembureaus te publiceren.</p>

  <h3>2. Invoeren via de website</h3>
  <p>U kunt ook direct stembureaus invoeren via de website. Op de <a href="{{ url_for('gemeente_stemlokalen_dashboard') }}">dasboard-pagina</a> klikt u op de blauwe 'Stembureaus'-knop om naar het overzicht van de de stembureaus te gaan. Daar klikt u op de blauwe 'Voeg nieuw stembureau toe'-knop waarna u een pagina ziet waar u één stembureau kunt toevoegen. Herhaal deze stap voor alle stembureaus in uw gemeente. Als alles in orde is klikt u op de blauwe 'Publiceer'-knop op de stembureaus te publiceren.</p>

  <h2>Correcties</h2>
  <p>Mocht u na het publiceren van uw stembureaus nog iets willen aanpassen dan kan dat nog tot 4 dagen voor de verkiezingen. Ga naar de <a href="{{ url_for('gemeente_stemlokalen_dashboard') }}">dasboard-pagina</a> en klik op de blauwe 'Stembureaus'-knop om naar het overzicht van de de stembureaus te gaan. Klik op de '[bewerk]'-link links van een stembureau om deze te bewerken of te verwijderen. Of voeg een nieuwe stembureau toe. Als u gebruik maakt van een stembureau-spreadsheet dan kunt ook daar uw aanpassingen doorvoeren en deze opnieuw uploaden. Let op: dit verwijdert alle stembureaus die u eerder heeft toegevoegd.</p>

  <h2>Kaartvisualisaties en open data</h2>
  <p>Vanaf de eerste week van maart kunnen gebruikers van dit platform ook de locaties van een stembureau op de kaart zien en hun dichtstbijzijnde stembureau vinden op basis van een ingevoerd adres of huidige locatie. Deze kaarten zijn ook te embedden op andere websites en te centreren op een bepaalde gemeente.</p>

  <p>Ook zijn de open databestanden te downloaden via in CSV-formaat en te hergebruiken via een API. De data is beschikbaar via <a href="https://ckan.dataplatform.nl/organization/ministerie-van-binnenlandse-zaken" target="_blank">Dataplatform</a> en wordt ook gepubliceerd op het open dataportaal van de Rijksoverheid: <a href="https://data.overheid.nl/" target="_blank">data.overheid.nl</a>. Zo kan iedereen toepassingen maken met de stembureau data.</p>

  <p>Op de dag van de verkiezingen zal in samenwerking met het BKB Campagnebureau een knop beschikbaar komen op Facebook waardoor gebruikers hun dichtstbijzijnde stembureau kunnen vinden.</p>

  <h2>Contact</h2>
  <p>Heeft u vragen over het platform? Stuur dan een e-mail naar <a href="mailto:stemlokaal@openstate.eu">stemlokaal@openstate.eu</a>.</p>
{% endblock %}
