{% extends "base.html" %}
{% block head %}
  <title>Waar is mijn stemlokaal - Login</title>
  <meta property="og:title" content="Waar is mijn stemlokaal - Login" />
  {{ super() }}
{% endblock %}

{% block content %}
  <div class="container-md">
    <h1 class="text-center">Inloggen</h1>

    <br>
    <br>

    Inlogpagina voor gemeenten. Heeft uw gemeente nog geen inloggegevens stuur dan een bericht naar <a href="mailto:stemlokaal@openstate.eu">stemlokaal@openstate.eu</a>.

    <br>
    <br>

    <div class="edit-form">
      <form method="POST" action="">
        {{ form.csrf_token }}

        <div class="login-forms top-form">
          {{ form.email.label }} {{ form.email }}
          {% for error in form.email.errors %}
            <span style="color: red;">- {{ error }}</span>
            <br>
          {% endfor %}
        </div>

        <div class="login-forms">
          {{ form.Wachtwoord.label }} {{ form.Wachtwoord }}
          {% for error in form.Wachtwoord.errors %}
            <span style="color: red;">- {{ error }}</span>
            <br>
          {% endfor %}
        </div>

        <br>

        <div>
          {{ form.submit }}
        </div>

        <br>

        <div>
          <p><a href="{{ url_for('user_reset_wachtwoord_verzoek') }}">Wachtwoord vergeten</a></p>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
