{% extends "base.html" %}
{% block menu %}
  <li><a href="/gemeente-logout">Uitloggen</a></li>
{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  Hallo, gemeente <b>{{ current_user.gemeente_naam }}</b>!
  <br>
  <form method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ form.data_file() }}
    {{ form.submit }}
  </fom>
  <div>{{ result }}</div>
  <br>
  Overzicht van de stembureaus voor: {{ verkiezing }}
  <br>
  <br>
  <br>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <br>
  <br>
  <a class="btn btn-info" role="button" href="{{ url_for('gemeente_stemlokalen_edit', verkiezing=verkiezing, stemlokaal_id=new_primary_key) }}">Voeg nieuw stembureau toe</a>
  <br>
  <table>
    <tr>
        <th>
        </th>
      {% for field in field_order %}
        <th>
          {{ field }}
        </th>
      {% endfor %}
    </tr>
    {% for record in draft_records %}
      <tr>
        <td>
          <a href="{{ url_for('gemeente_stemlokalen_edit', verkiezing=verkiezing, stemlokaal_id=record['primary_key']) }}">[bewerk]</a>
        </td>
        {% for field in field_order %}
          <td>
            {{ record[field] }}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
{% endblock %}
{% block scripts %}
  {{ super() }}
{% endblock %}
