{% extends "base.html" %}
{% block head %}
  <meta property="og:title" content="Waar is mijn stemlokaal - Bewerk stembureau" />
  {{ super() }}
{% endblock %}

{% block content %}
  <div>
    > <a href="{{ url_for('gemeente_stemlokalen_dashboard') }}">Dashboard</a> > <a href="{{ url_for('gemeente_stemlokalen_overzicht') }}">Stembureaus</a> > Bewerk stembureau
  </div>

  <h1 class="title-pad">Stembureau</h1>

  <br>

  Hieronder kunt alle gegevens van een stembureau invullen. Klik op het vraagteken naast het veld om te zien hoe de gegevens ingevuld dienen te worden. Voor verdere vragen kunt u contact opnemen met <a href="mailto:stemlokaal@openstate.eu">stemlokaal@openstate.eu</a>.

  <br>
  <br>

  <span class="required">*</span> = vereist veld

  <br>

  <div class="edit-form">
    <form method="POST" action="">
      {{ form.csrf_token }}
      {% for f in form %}
        {% if f.widget.input_type != 'hidden' and f.widget.input_type != 'submit' %}
          <div class="edit-entry">
            {{ f.label }}

            {{ f(size=20) }}

            <i class="fa fa-question-circle" data-toggle="popover" data-placement="auto" data-html="true" data-trigger="click" title="<b>{{ f.label.text }}</b>" data-content="{{ f.description }}"></i>

            {% if f.flags.required %}
              <span class="required">*</span>
            {% endif %}

            {% for error in f.errors %}
              <span style="color: red;">{{ error }}</span>
            {% endfor %}
           </div>
        {% endif %}
      {% endfor %}

      <br>
      <br>

      {{ form.submit }} {{ form.submit_annuleren }} {{ form.submit_verwijderen }}
    </form>
  </div>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
      $('[data-toggle="popover"]').popover();
    })
  </script>
{% endblock %}
