{% extends "base.html" %}

{% block head %}
  <title>Waar is mijn stemlokaal</title>
  <meta property="og:title" content="Waar is mijn stemlokaal" />
  {{ super() }}
{% endblock %}

{% block content %}
   <span style="color: red">De informatie over alle stembureaus voor de gemeenteraadsverkiezingen 2022 is nog niet compleet en wordt tot en met de verkiezingen continu aangevuld</span>
  {% include "show_alles.html" %}
  {% include "search_gemeenten.html" %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% include "map_scripts.html" %}
{% endblock %}
