{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6">
   ...
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6">
    <div id="nlmaps-holder"></div>
  </div>
</div>

<script src="https://openlayers.org/en/v4.1.0/build/ol.js"></script>
<script src="https://rawgit.com/kadaster/nlmaps/master/dist/nlmaps.iife.js"></script>
<script>

    var stembureaus = {{ records.records |tojson |safe }};
    var nlMapsHolder = document.getElementById('nlmaps-holder');
    nlMapsHolder.style.height = '300px'; // Change to required height

    var opts = {
        style: 'standaard',
        target: 'nlmaps-holder',
        center: {
            longitude: 4.916836,
            latitude: 52.361530
        },
        overlay: 'false',
        marker: false,
        search: true,
        zoom: 18
    };
    var map = nlmaps.createMap(opts);
</script>
{% endblock %}
