{% extends "base.html" %}

{% block head %}
  <title>Waar is mijn stemlokaal</title>
  <meta property="og:title" content="Waar is mijn stemlokaal" />
  {{ super() }}
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="text-center">
      <span class="text-red">De stembureaus van sommige gemeenten voor de gemeenteraadsverkiezingen 2022 zijn nog niet aangeleverd. Deze worden deze week toegevoegd.</span>
    </div>
    {% include "show_alles.html" %}
    {% include "search_gemeenten.html" %}
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% include "map_scripts.html" %}
  <script>
    StembureausApp.homepage = true;
  </script>
{% endblock %}
