Toon locaties van&nbsp;
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-info location-type-filter" id="radio-button-stembureaus">
    <input type="radio" name="options" autocomplete="off" value="Stembureau"> <i class="fa fa-pencil" /></i> stembureaus
  </label>
  <label class="btn btn-info location-type-filter" id="radio-button-afgiftepunten">
    <input type="radio" name="options" autocomplete="off" value="Afgiftepunt"> <i class="fa fa-envelope" /></i> afgiftepunten
  </label>
  <label class="btn btn-info location-type-filter active" id="radio-button-alles">
    <input type="radio" name="options" autocomplete="off" value="alles" checked> alles
  </label>
</div>
<br>
geopend op
<select class="form-control" id="dag-filter">
  <option value="10">woensdag 10 maart</option>
  <option value="11">donderdag 11 maart</option>
  <option value="12">vrijdag 12 maart</option>
  <option value="13">zaterdag 13 maart</option>
  <option value="14">zondag 14 maart</option>
  <option value="15">maandag 15 maart</option>
  <option value="16">dinsdag 16 maart</option>
  <option value="17">woensdag 17 maart</option>
  <option value="alles" selected>(toon alle dagen)</option>
</select>
<br>
<div id="map" style="height: 500px;"></div>
