{% extends "base.html" %}
{% block head %}
  <title>Waar is mijn stemlokaal - Over deze website</title>
  <meta property="og:title" content="Waar is mijn stemlokaal - Over deze website" />
  {{ super() }}
{% endblock %}

{% block content %}
  <h1>Over 'Waar is mijn stemlokaal'</h1>

  <p>Ruim 13 miljoen Nederlanders mogen op 14 t/m 16 maart hun stem uitbrengen voor de gemeenteraadsverkiezingen. In 334 gemeenten mogen kiezers naar de stembus. Maar waar mogen ze stemmen?</p>

  <p>Het platform 'Waar is mijn stemlokaal' helpt kiezers om een stembureau te vinden. Stembureaus kunnen op deze website via een kaart en overzichtslijst gezocht worden of door het downloaden van de open databestanden. Deze open databestanden kunnen door iedereen vrijelijk hergebruikt worden voor andere toepassingen.</p>

  <p>Voor algemene informatie over de verkiezingen kunt u terecht op <a href="https://elkestemtelt.nl/" target="_blank" rel="noopener">elkestemtelt.nl</a> van de Rijksoverheid. Ook bij de <a href="https://www.kiesraad.nl/" target="_blank" rel="noopener">Kiesraad</a> kunt u meer informatie over verkiezingen vinden.</p>

  <h2>Waar komt de data vandaan?</h2>
  <p>VNG Realisatie heeft vanuit de praktijkbeproeving Open Data Standaarden <a href="https://www.vngrealisatie.nl/producten/platform-waar-mijn-stemlokaal" target="_blank" rel="noopener">specificaties opgesteld voor stembureaus</a>. Hiermee kunnen 348 (bijzondere) gemeenten op een uniforme wijze informatie over hun stembureaus aanleveren. Dit platform maakt gebruik van de door VNG opgestelde Stembureaus Open Data Standaard voor het ontsluiten van de lijsten met stembureaus:
    <ul>
      <li>versie 1.0: <a href="/files/Stembureaus Open Data Standaard - Gemeenteraadsverkiezingen 2018 voorbeeld.ods">ODS</a>, <a href="/files/Stembureaus Open Data Standaard - Gemeenteraadsverkiezingen 2018 voorbeeld.xlsx">XLSX</a> (gebruikt voor de gemeenteraadsverkiezingen en het raadgevend referendum van 21 maart 2018)</li>
      <li>versie 1.1: <a href="/files/Stembureaus Open Data Standaard - Provinciale statenverkiezingen 2019 voorbeeld.xlsx">ODS</a>, <a href="/files/Stembureaus Open Data Standaard - Provinciale statenverkiezingen 2019 voorbeeld.xlsx">XLSX</a> (gebruikt voor de Provinciale Staten-, waterschaps-, eilandsraads- en kiescollegeverkiezingen van 20 maart 2019 en de Europese Parlementsverkiezingen van 23 mei 2019)</li>
      <li>versie 1.2: <a href="/files/Stembureaus Open Data Standaard - Tweede Kamerverkiezingen 2021 voorbeeld.ods">ODS</a>, <a href="/files/Stembureaus Open Data Standaard - Tweede Kamerverkiezingen 2021 voorbeeld.xlsx">XLSX</a> (gebruikt voor de Tweede Kamerverkiezingen van 17 maart 2021)</li>
      <li>versie 1.3: <a href="/files/Stembureaus Open Data Standaard - Gemeenteraadsverkiezingen 2022 voorbeeld.ods">ODS</a>, <a href="/files/Stembureaus Open Data Standaard - Gemeenteraadsverkiezingen 2022 voorbeeld.xlsx">XLSX</a> (gebruikt voor de gemeenteraadsverkiezingen van 16 maart 2022)</li>
    </ul>
  </p>

  <h2>Wat is het belang van standaardisatie?</h2>
  <p>In Nederland hebben we 348 (bijzondere) gemeenten die dezelfde data via 348 verschillende websites en in 348 verschillende vormen beschikbaar stellen. Daarom werken het ministerie van Binnenlandse Zaken en Koninkrijksrelaties en VNG Realisatie aan het standaardiseren van datasets. Dit gebeurt via de <a href="https://data.overheid.nl/community/maatschappij/high-value/gemeenten" target="_blank" rel="noopener">High Value Datalijst Gemeenten</a> en de <a href="https://www.vngrealisatie.nl/producten/open-data-standaarden-voor-gemeenten" target="_blank" rel="noopener">praktijkbeproeving Open Data Standaarden</a>.</p>

  <p>Stembureau-data staan op de High Value Datalijst en is gestandaardiseerd door VNG Realisatie. Voor de Tweede Kamerverkiezingen 2017 heeft Open State Foundation <a href="https://openstate.eu/nl/2017/02/open-state-foundation-traceert-alle-stembureaus/" target="_blank" rel="noopener">handmatig alle stembureaus verzameld</a> en gestandaardiseerd. Verschillende organisaties verwezen naar de kaart met alle stembureaus en anderen gebruikten de open data om eigen tools te maken. Uiteindelijk is de dataset meer dan anderhalf miljoen weergegeven. Sindsdien zijn voor alle grote verkiezingen de stembureau-data samen met de gemeenten verzameld.</p>

  <h2>Hoe kunnen gemeenten data uploaden?</h2>
  <p>Gemeenten hebben toegang tot het platform via een e-mailadres en wachtwoord. Heeft uw gemeente nog geen inloggegevens ontvangen? Stuur dan een mail naar <a href="mailto:stemlokaal@openstate.eu">stemlokaal@openstate.eu</a>.</p>

  <p>Gemeenten kunnen op twee manieren hun data toevoegen aan 'Waar is mijn stemlokaal':</p>

  <ol>
    <li>Door een (deels vooringevuld) stembureau-spreadsheet te downloaden, alle stembureaus in te vullen en vervolgens de spreadsheet te uploaden;</li>
    <li>De stembureaus direct op deze website in te voeren via een webformulier.</li>
  </ol>

  <h2>Wie zitten er achter 'Waar is mijn stemlokaal'?</h2>
  <p>Het platform is een initiatief van <a href="https://openstate.eu/nl/" target="_blank" rel="noopener">Open State Foundation</a> met steun van het ministerie van Binnenlandse Zaken en Koninkrijksrelaties en in samenwerking met VNG Realisatie en Civity.</p>

  <h2>Contact</h2>
  <p>Heeft u vragen over het platform? Stuur dan een e-mail naar <a href="mailto:stemlokaal@openstate.eu">stemlokaal@openstate.eu</a>. Voor algemene vragen over de verkiezingen kunt u terecht bij uw gemeente of op <a href="https://elkestemtelt.nl/" target="_blank" rel="noopener">elkestemtelt.nl</a> van de Rijksoverheid.</p>
{% endblock %}
