{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6">
    <div class="row">
      <div class="col-xs-12">
        <ol class="breadcrumb">
          <li><a href="/">Nederland</a></li>
          <li><a href="{{ url_for('show_gemeente', gemeente=gemeente) }}">{{ gemeente }}</a></li>
          <li class="active">{{ records[0]['Naam stembureau'] }}</li>
        </ol>
        {% for record in records %}
        <h2>{{ record['Naam stembureau'] }}</h2>
        <p>
          {{ record['Straatnaam'] }} {{ record['Huisnummer'] }}{{ record['Huisnummertoevoeging'] }}
        </p>
        <p>{{ record['Extra adresaanduiding'] }}</p>
        <p>
          {{ record['Postcode'] }} {{ record['Plaats'] }}
        </p>
        {% if record['Openingstijden'] %}
        <dl class="dl-horizontal">
          <dt style="text-align: left;">open:</dt>
          <dd>{{ record['Openingstijden'].split(' tot ', 1)[0].split('T')[1][0:5] }}</dd>
          <dt style="text-align: left;">gesloten:</dt>
          <dd>{{ record['Openingstijden'].split(' tot ', 1)[1].split('T')[1][0:5] }}</dd>
        </dl>
        {% endif %}
        <p>Bijzonderheden:</p>
        <ul>
        {% if record['Mindervaliden toegankelijk'] == 'Y' %}
        <li>Rolstoeltoegankelijk</li>
        {% endif %}
        {% if record['Invalidenparkeerplaatsen'] == 'Y' %}
        <li>Parkeerplaatsen voor invaliden</li>
        {% endif %}
        {% if record['Mindervalide toilet aanwezig'] == 'Y' %}
        <li>Toilet voor Mindervaliden aanwezig</li>
        {% endif %}
        </ul>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6">
    <div id="map" style="height: 300px;"></div>
  </div>
</div>

<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
  integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
  crossorigin=""></script>
<script>

    var StembureausApp = window.StembureausApp || {stembureaus: []};

    StembureausApp.stembureaus = {{ records |tojson |safe }};
    StembureausApp.stembureaus_markers = [];

    for(var i=0; i < StembureausApp.stembureaus.length; i++) {
      StembureausApp.stembureaus_markers.push(
        L.marker(
          [StembureausApp.stembureaus[i].Latitude, StembureausApp.stembureaus[i].Longitude]
        ).bindPopup(
          "<a href=\"/s/" + StembureausApp.stembureaus[i]['Gemeente'] + '/' + StembureausApp.stembureaus[i]['primary_key'] + "\">" + StembureausApp.stembureaus[i]['Naam stembureau'] + "</a><p><b>Openingstijden:</b>" + StembureausApp.stembureaus[i]['Openingstijden'] + "</p>"
        )
      );
    }


    StembureausApp.layers = {
      'Stembureaus': L.layerGroup(StembureausApp.stembureaus_markers)
    };
    StembureausApp.map = L.map('map', {'layers': StembureausApp.layers['Stembureaus']}).setView([52.2, 5.592], 6);
    StembureausApp.group = L.featureGroup(StembureausApp.stembureaus_markers);
    StembureausApp.map.fitBounds(StembureausApp.group.getBounds());

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(StembureausApp.map);

</script>
{% endblock %}
