<div class="text-center">
  <h1>Alle stembureaus in Nederland</h1>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-9">
    {% include "map.html" %}
  </div>
  {% if show_search %}
  <div class="col-xs-12 col-sm-12 col-md-3">
    <hr class="visible-xs-block visible-sm-block">
    <h2>Zoek uw gemeente</h2>
    <div class="row">
      <div class="col-xs-12">
        <form action="" method="get" class="form-inline" id="form-gemeente-search">
            <div class="form-group">
              <label for="zoek-gemeente">
              <i class="fa fa-search" aria-hidden="true"></i>
              </label>
              <input id="zoek-gemeente" type="text" class="form-control" name="query" value="" placeholder="bv. Amsterdam">
            </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" id="results-search-gemeenten">
      </div>
    </div>
  </div>
  {% endif %}
</div>
