{% if show_search %}
<header aria-label="Gebruikt u een screenreader? Gebruik dan niet de Filters en Kaart, maar navigeer naar de 'Zoek uw gemeente' h2 heading en typ en selecteer uw gemeente. Daarna kunt u onder het kopje 'Stembureaus' een stembureau vinden. Open de pagina van het stembureau voor alle informatie over dat stembureau." class="text-center">
{% else %}
<header aria-label="Gebruikt u een screenreader? Deze embed toont enkel een kaart. U kunt beter naar WaarIsMijnStemlokaal.nl gaan, waar naast de kaart de informatie ook op een manier getoond wordt die wel geschikt is voor een screenreader."  class="text-center">
{% endif %}
  <h1 aria-describedby="page-subtitle">🇳🇱 Alle stembureaus in Nederland</h1>
  <p id="page-subtitle">{{ upcomingElection }}</p>
</header>

<div class="row">
  <div class="col-12 col-lg-9">
    {% include "map.html" %}
  </div>
  {% if show_search %}
  <div class="col-12 col-lg-3">
    <hr class="d-lg-none">
    <h2><i class="fa fa-users text-dark-blue"></i> Zoek uw gemeente</h2>
    <div class="row">
      <div class="col-12">
        <form action="" method="get" class="form-inline" id="form-gemeente-search">
          <div class="form-group">
            <label for="zoek-gemeente">
              <i class="fa fa-search" aria-hidden="true"></i>
            </label>
            <input id="zoek-gemeente" type="text" class="form-control" name="query" value="" placeholder="bv. Amsterdam">
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-12" id="results-search-gemeenten">
      </div>
    </div>
  </div>
  {% endif %}
</div>
