<div class="text-center">
  <h1 aria-label="Gebruikt u een screenreader? Gebruik dan niet de Filters en Kaart, maar navigeer naar de 'Zoek uw gemeente' h2 heading en typ en selecteer uw gemeente. Daarna kunt u onder het kopje 'Stembureaus' een stembureau vinden. Open de pagina van het stembureau voor alle informatie over dat stembureau.">🇳🇱 Alle stembureaus in Nederland</h1>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
    {% include "map.html" %}
  </div>
  {% if show_search %}
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
    <hr class="d-lg-none">
    <h2><i class="fa fa-users text-dark-blue"></i> Zoek uw gemeente</h2>
    <div class="row">
      <div class="col-xs-12">
        <form action="" method="get" class="form-inline" id="form-gemeente-search">
            <div class="form-group">
              <label for="zoek-gemeente">
              <i class="fa fa-search" aria-hidden="true"></i>
              </label>
              <input id="zoek-gemeente" type="text" class="form-control" name="query" value="" placeholder="bv. Amsterdam">
            </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" id="results-search-gemeenten">
      </div>
    </div>
  </div>
  {% endif %}
</div>
