{% extends "base.html" %}
{% block head %}
  {% if not records %}
  <meta property="og:title" content="Waar is mijn stemlokaal" />
  {% else %}
  <meta property="og:title" content="Waar is mijn stemlokaal - {{ records[0]['Naam stemburea of afgiftepuntu'] }}" />
  {% endif %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <ol class="breadcrumb">
      <li><a href="/">Nederland</a></li>
      <li><a href="{{ url_for('show_gemeente', gemeente=gemeente) }}">{{ gemeente }}</a></li>
      {% if not records %}
      <li class="active">Onbekend stembureau/afgiftepunt UUID</li>
      {% else %}
      <li class="active">{{ records[0]['Naam stembureau'] }}</li>
      {% endif %}
    </ol>
  </div>
</div>
<div class="row">
  {% if not records %}
  Kan stembureau/afgiftepunt met UUID "{{ primary_key }}" niet vinden.
  <br>
  <br>
  Terug naar de <a href="{{ url_for('show_gemeente', gemeente=gemeente) }}">stembureaupagina van gemeente {{ gemeente }}</a>.
  {% else %}
  {% if disclaimer %}
  <div class="col-xs-12">
    {{ disclaimer }}
    <br>
    <br>
  </div>
  {% endif %}
  <div class="col-xs-12 col-sm-12 col-md-6">
    <div id="map" style="height: 500px;"></div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6">
    <div class="row">
      <div class="col-xs-12">
        {% for record in records %}
        <h2>{{ record['Stembureau of Afgiftepunt'] }} {% if record['Nummer stembureau of afgiftepunt'] %}#{{ record['Nummer stembureau of afgiftepunt'] }}{% endif %} {{ record['Naam stembureau of afgiftepunt'] }}{% if record['Website locatie'] %} <a href="{{ record['Website locatie'] }}" target="_blank" rel="noopener"><i class="fa fa-external-link" style="font-size: 14px;"></i></a>{% endif %}</h2>
        <p>
          {% if record['Straatnaam'] %}{{ record['Straatnaam'] }}{% endif %} {% if record['Huisnummer'] %}{{ record['Huisnummer'] }}{% endif %} {% if record['Huisletter'] %}{{ record['Huisletter'] }}{% endif %} {% if record['Huisnummertoevoeging'] %}-{{ record['Huisnummertoevoeging'] }}{% endif %}
        </p>
        <p>
          {% if record['Postcode'] %}{{ record['Postcode'] }}, {% endif %}{% if record['Plaats'] %}{{ record['Plaats'] }}{% else %}<i>Gemeente {{ record['Gemeente']}}</i>{% endif %}
        </p>
        <p>{{ record['Extra adresaanduiding'] }}</p>
        {% set datums = [
          'woensdag 10 maart:',
          'donderdag 11 maart:',
          'vrijdag 12 maart:',
          'zaterdag 13 maart:',
          'zondag 14 maart:',
          'maandag 15 maart:',
          'dinsdag 16 maart:',
          'woensdag 17 maart:'
        ] %}
        <br>
        <i>Openingstijden</i>
        {% set datum_range = 0 %}
        {% if record['Stembureau of Afgiftepunt'] == 'Stembureau' %}
          {% set datum_range = 5 %}
        {% endif %}
        {% for datum in datums[datum_range:] %}
          {% set dag = datum.split(' ')[1] %}
          {% set tijden = record['Openingstijden ' + dag + '-03-2021'].split(' tot ', 1) %}
          <dl class="dl-horizontal">
            <dt style="text-align: left;">{{ datum }}</dt>
            {% if tijden[0] %}
              <dd>{{ tijden[0].split('T')[1][0:5] }} &dash; {{ tijden[1].split('T')[1][0:5] }}</dd>
            {% else %}
              <dd>gesloten</dd>
            {% endif %}
          </dl>
        {% endfor %}
        <br>
        <p>Bijzonderheden:</p>
        <ul>
          {% if record['Mindervaliden toegankelijk'] %}
            <li><b>Mindervaliden toegankelijk</b>: {% if record['Mindervaliden toegankelijk'] == 'Y' %}Ja{% else %}Nee{% endif %}</li>
          {% endif %}

          {% if record['Auditieve hulpmiddelen'] %}
            <li><b>Auditieve hulpmiddelen</b>: {{ record['Auditieve hulpmiddelen'] }}</li>
          {% endif %}

          {% if record['Visuele hulpmiddelen'] %}
            <li><b>Visuele hulpmiddelen</b>: {{ record['Visuele hulpmiddelen'] }}</li>
          {% endif %}

          {% if record['Akoestiek'] %}
            <li><b>Akoestiek geschikt voor slechthorenden</b>: {% if record['Akoestiek'] == 'Y' %}Ja{% else %}Nee{% endif %}</li>
          {% endif %}

          {% if record['Mindervalide toilet aanwezig'] %}
            <li><b>Mindervaliden toilet aanwezig</b>: {% if record['Mindervalide toilet aanwezig'] == 'Y' %}Ja{% else %}Nee{% endif %}</li>
          {% endif %}

          {% if record['Tellocatie'] %}
            <li><b>Tellocatie</b>: {% if record['Tellocatie'] == 'Y' %}Ja{% else %}Nee{% endif %}</li>
          {% endif %}
        </ul>

        {# TODO: should only be included in elections for waterschapsverkiezingen or stadsdelen
        {% if record['Verkiezingen'] %}
        <br>
        In dit stembureau kunt u voor de waterschapsverkiezingen op de volgende waterschappen stemmen:
          <ul>
            {% for verkiezing in record['Verkiezingen'].split(';') %}
            <li>{{ verkiezing.lstrip('waterschapsverkiezingen voor ') }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        #}

        <br>
        <br>
        <br>
        <b>Contactgegevens gemeente {{ gemeente }}</b><p>{{ record['Contactgegevens'] }}</p>
        <a href="{{ record['Beschikbaarheid'] }}" target="_blank" rel="noopener">Verkiezingswebsite gemeente {{ gemeente }}</a>

        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% include "map.html" %}
{% endblock %}
