{% extends "base.html" %}
{% block head %}
  {% if not records %}
  <meta property="og:title" content="Waar is mijn stemlokaal" />
  {% else %}
  <meta property="og:title" content="Waar is mijn stemlokaal - {{ records[0]['Naam stemburea of afgiftepuntu'] }}" />
  {% endif %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <ol class="breadcrumb">
      <li><a href="/">Nederland</a></li>
      <li><a href="{{ url_for('show_gemeente', gemeente=gemeente) }}">{{ gemeente }}</a></li>
      {% if not records %}
        <li class="active">Onbekend stembureau/afgiftepunt UUID</li>
      {% else %}
        <li class="active">{{ records[0]['Naam stembureau of afgiftepunt'] }}</li>
      {% endif %}
    </ol>
  </div>
</div>
<div class="row">
  {% if not records %}
  Kan stembureau/afgiftepunt met UUID "{{ primary_key }}" niet vinden.
  <br>
  <br>
  Terug naar de <a href="{{ url_for('show_gemeente', gemeente=gemeente) }}">stembureaupagina van gemeente {{ gemeente }}</a>.
  {% else %}
  {% if disclaimer %}
  <div class="col-xs-12">
    {{ disclaimer }}
    <br>
    <br>
  </div>
  {% endif %}
  <div class="col-xs-12 col-sm-12 col-md-6">
    <div id="map" style="height: 500px;"></div>
    <p class="pull-right" style="margin-top: 10px;">
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#model-embed">
        <i class="fa fa-code"></i> Insluiten
      </button>
    </p>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6">
    <div class="row">
      <div class="col-xs-12">
        {% for record in records %}
          {% set niet_open_voor_algemeen_publiek = false %}
          {% if 'niet open voor algemeen publiek' in record['Extra adresaanduiding'].lower() %}
            {% set niet_open_voor_algemeen_publiek = true %}
          {% endif %}
          <h2>
            {% if record['Stembureau of Afgiftepunt'] == 'Stembureau' %}
              {% if niet_open_voor_algemeen_publiek %}
                <i class="fa fa-pencil text-orange"></i>
              {% else %}
                <i class="fa fa-pencil text-red"></i>
              {% endif %}
            {% else %}
              {% if niet_open_voor_algemeen_publiek %}
                <i class="fa fa-envelope text-orange"></i>
              {% else %}
                <i class="fa fa-envelope text-blue"></i>
              {% endif %}
            {% endif %}
            {{ record['Stembureau of Afgiftepunt'] }}
            {% if record['Nummer stembureau of afgiftepunt'] %}
              #{{ record['Nummer stembureau of afgiftepunt'] }}
            {% endif %}
            {{ record['Naam stembureau of afgiftepunt'] }}
            {% if record['Website locatie'] %}
              <a href="{{ record['Website locatie'] }}" target="_blank" rel="noopener"><i class="fa fa-external-link" style="font-size: 14px;"></i></a>
            {% endif %}
          </h2>
          <p>
            {% if record['Straatnaam'] %}
              {{ record['Straatnaam'] }}
            {% endif %}
            {% if record['Huisnummer'] %}
              {{ record['Huisnummer'] }}
            {% endif %}
            {% if record['Huisletter'] %}
              {{ record['Huisletter'] }}
            {% endif %}
            {% if record['Huisnummertoevoeging'] %}
              -{{ record['Huisnummertoevoeging'] }}
            {% endif %}
            <br>
            {% if record['Postcode'] %}
              {{ record['Postcode'] }},
            {% endif %}
            {% if record['Plaats'] %}
              {{ record['Plaats'] }}
            {% else %}
              <i>Gemeente {{ record['Gemeente']}}</i>
            {% endif %}
          </p>
          <p>
            <a href="https://geohack.toolforge.org/geohack.php?language=en&params={{ record['Latitude'] }}_N_{{ record['Longitude'] }}_E_type:landmark&pagename={{ record['Stembureau of Afgiftepunt'] }} {{ record['Naam stembureau of afgiftepunt'] }}" target="_blank" rel="noopener">route (via externe dienst)</a>
          </p>
          {% if niet_open_voor_algemeen_publiek %}
          <h2 class="color: text-red">NB: {{ record['Extra adresaanduiding'] }}
            <i class="fa fa-question-circle" data-toggle="popover" data-placement="auto" data-html="true" data-trigger="click" title="<b>Stembureau met beperkte toegang</b>" data-content="Vanwege de risico's van de Covid-19 pandemie heeft dit stembureau beperkte toegang. Dat kan bijvoorbeeld handig zijn voor stemlokalen op plaatsen waar extra bescherming gewenst is, bijvoorbeeld in verzorgingshuizen. Hier kan dan alleen worden gestemd door de kiezers die rechtmatig op die locatie mogen verblijven. Omdat het voor andere kiezers dan niet mogelijk is om op de gang van zaken toe te zien, is er in deze stembureaus een onafhankelijke waarnemer aanwezig. Zie Tijdelijke wet verkiezingen COVID-19 art. 4."></i>
          </h2>
          {% else %}
            <p>{{ record['Extra adresaanduiding'] }}</p>
          {% endif %}
          {% set datums = [
            'woensdag 10 maart:',
            'donderdag 11 maart:',
            'vrijdag 12 maart:',
            'zaterdag 13 maart:',
            'zondag 14 maart:',
            'maandag 15 maart:',
            'dinsdag 16 maart:',
            'woensdag 17 maart:'
          ] %}
          <br>
          <i>Openingstijden</i>
          {% set datum_range = 0 %}
          {% if record['Stembureau of Afgiftepunt'] == 'Stembureau' %}
            {% set datum_range = 5 %}
          {% endif %}
          {% for datum in datums[datum_range:] %}
            {% set dag = datum.split(' ')[1] %}
            {% set tijden = record['Openingstijden ' + dag + '-03-2021'].split(' tot ', 1) %}
            <dl class="dl-horizontal">
              <dt style="text-align: left;">{{ datum }}</dt>
              {% if tijden[0].strip() %}
                <dd>{{ tijden[0].split('T')[1][0:5] }} &dash; {{ tijden[1].split('T')[1][0:5] }}</dd>
              {% else %}
                <dd>gesloten</dd>
              {% endif %}
            </dl>
          {% endfor %}
          <br>
          <p>Bijzonderheden:</p>
          <ul>
            {% if record['Mindervaliden toegankelijk'] %}
              <li><b>Mindervaliden toegankelijk</b>: {% if record['Mindervaliden toegankelijk'] == 'Y' %}Ja{% else %}Nee{% endif %}</li>
            {% endif %}

            {% if record['Auditieve hulpmiddelen'] %}
              <li><b>Auditieve hulpmiddelen</b>: {{ record['Auditieve hulpmiddelen'] }}</li>
            {% endif %}

            {% if record['Visuele hulpmiddelen'] %}
              <li><b>Visuele hulpmiddelen</b>: {{ record['Visuele hulpmiddelen'] }}</li>
            {% endif %}

            {% if record['Akoestiek'] %}
              <li><b>Akoestiek geschikt voor slechthorenden</b>: {% if record['Akoestiek'] == 'Y' %}Ja{% else %}Nee{% endif %}</li>
            {% endif %}

            {% if record['Mindervalide toilet aanwezig'] %}
              <li><b>Mindervaliden toilet aanwezig</b>: {% if record['Mindervalide toilet aanwezig'] == 'Y' %}Ja{% else %}Nee{% endif %}</li>
            {% endif %}

            {% if record['Tellocatie'] %}
              <li><b>Tellocatie</b>: {% if record['Tellocatie'] == 'Y' %}Ja{% else %}Nee{% endif %}</li>
            {% endif %}
          </ul>

          {# TODO: should only be included in elections for waterschapsverkiezingen or stadsdelen
          {% if record['Verkiezingen'] %}
          <br>
          In dit stembureau kunt u voor de waterschapsverkiezingen op de volgende waterschappen stemmen:
            <ul>
              {% for verkiezing in record['Verkiezingen'].split(';') %}
              <li>{{ verkiezing.lstrip('waterschapsverkiezingen voor ') }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          #}

          <br>
          <br>
          <br>
          <b>Contactgegevens gemeente {{ gemeente }}</b><p>{{ record['Contactgegevens'] }}</p>
          <a href="{{ record['Beschikbaarheid'] }}" target="_blank" rel="noopener">Verkiezingswebsite gemeente {{ gemeente }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="model-embed">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Insluiten</h4>
      </div>
      <div class="modal-body">
        <p>Om de kaart in te sluiten in een andere pagina dient u de onderstaande code te kopi&euml;ren en te plakken in uw CMS.</p>
        <p><input type="checkbox" id="form-embed-search-checkbox" checked> Met rechter informatiebalk</p>
        <form id="form-embed-search">
          <textarea style="width: 100%; height: 80px;" id="form-embed-text-search">
            &lt;iframe src="{{ url_for('embed_stembureau', gemeente=gemeente, primary_key=primary_key, _external=True) }}" width="500" height="735" /&gt;
          </textarea>
        </form>

        <form id="form-embed-no-search" style="display: none;">
          <textarea style="width: 100%; height: 80px;" id="form-embed-text-no-search">
            &lt;iframe src="{{ url_for('embed_stembureau', gemeente=gemeente, primary_key=primary_key, _external=True, infobar='0') }}" width="500" height="600" /&gt;
          </textarea>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% include "map_scripts.html" %}
  <script>
    $(function () {
      $('[data-toggle="popover"]').popover();
    })

    $(document).ready(function() {
      $('#model-embed').on('shown.bs.modal', function () {
        $('textarea:visible').select().focus();
      });

      $('#form-embed-search-checkbox').on('click', function (e) {
        $('#form-embed-search').toggle();
        $('#form-embed-no-search').toggle();
        $('textarea:visible').select().focus();
      });
    });
  </script>
{% endblock %}
