<h3 class="anchor-offset" id="hulp-bij-gebruik">Uitlegvideo's toevoegen stembureaus</h3>
<p>Komt u er als gemeente niet uit om de stembureau data te uploaden? Bekijk de uitlegvideo's hieronder waarin manier 1 (stembureau-spreadsheet) en manier 2 (webformulier) behandeld worden. Hopelijk maakt dit het proces gemakkelijker en scheelt u dit tijd. We hebben het proces van stembureaudata uploaden opgesplitst in vier onderdelen, zodat u ook specifiek over één onderwerp de toelichting kunt bekijken.</p>

<h4 class="anchor-offset" id="hulp-bij-gebruik-1">1. Over 'Waar is mijn stemlokaal', starten als gemeente & inloggen</h4>
<div class="embed-responsive embed-responsive-16by9">
  <video controls>
    <source src="/files/1. Over _Waar is mijn stemlokaal_, starten als gemeente en inloggen.webm" type="video/webm" />
  </video>
</div>
<br>
<br>

<h4 class="anchor-offset" id="hulp-bij-gebruik-2">2. Stembureaus uploaden, manier 1: via het vooringevulde stembureau-spreadsheet</h4>
<div class="embed-responsive embed-responsive-16by9">
  <video controls>
    <source src="/files/2. Stembureaus uploaden (1) .webm" type="video/webm" />
  </video>
</div>
<br>
<br>

<h4 class="anchor-offset" id="hulp-bij-gebruik-3">3. Stembureaus uploaden, manier 2: via het webformulier</h4>
<div class="embed-responsive embed-responsive-16by9">
  <video controls>
    <source src="/files/3. Stembureaus uploaden (2) via het webformulier.webm" type="video/webm" />
  </video>
</div>
<br>
<br>

<h4 class="anchor-offset" id="hulp-bij-gebruik-4">4. Stembureaus wijzigen, uploaden en publiceren</h4>
<div class="embed-responsive embed-responsive-16by9">
  <video controls>
    <source src="/files/4. Stembureaus wijzigen, opslaan en publiceren.webm" type="video/webm" />
  </video>
</div>
<br>

<p>Mocht u verder nog vragen hebben kunt u mailen naar <a href="mailto:stemlokaal@openstate.eu">stemlokaal@openstate.eu</a>.</p>
