<h3 class="anchor-offset" id="hulp-bij-gebruik">Uitlegvideo's toevoegen stembureaus</h3>
<p>Komt u er als gemeente niet uit om de stembureau data te uploaden? Bekijk de uitlegvideo's hieronder waarin manier 1 (stembureau-spreadsheet) en manier 2 (webformulier) behandeld worden. Hopelijk maakt dit het proces gemakkelijker en scheelt u dit tijd. We hebben het proces van stembureaudata uploaden opgesplitst in vier onderdelen, zodat u ook specifiek over één onderwerp de toelichting kunt bekijken.</p>

<h4 class="anchor-offset" id="hulp-bij-gebruik-1">1. Over 'Waar is mijn stemlokaal', starten als gemeente & inloggen</h4>
<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/865499897?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="1. Over 'Waar is mijn stemlokaal', starten als gemeente &amp; inloggen"></iframe></div>
<br>
<br>

<h4 class="anchor-offset" id="hulp-bij-gebruik-2">2. Stembureaus uploaden, manier 1: via het vooringevulde stembureau-spreadsheet</h4>
<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/865502912?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="2. Stembureaus uploaden, manier 1: via het vooringevulde stembureau-spreadsheet"></iframe></div>
<br>
<br>

<h4 class="anchor-offset" id="hulp-bij-gebruik-3">3. Stembureaus uploaden, manier 2: via het webformulier</h4>
<div style="padding:59.6% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/870237037?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="3. Stembureaus uploaden, manier 2: via het webformulier"></iframe></div>
<br>
<br>

<h4 class="anchor-offset" id="hulp-bij-gebruik-4">4. Stembureaus wijzigen, uploaden en publiceren</h4>
<div style="padding:59.44% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/870237368?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="4. Stembureaus wijzigen, uploaden en publiceren"></iframe></div>
<br>

<p>Mocht u verder nog vragen hebben kunt u mailen naar <a href="mailto:stemlokaal@openstate.eu">stemlokaal@openstate.eu</a>.</p>

<script src="https://player.vimeo.com/api/player.js"></script>
