<p id="hulp-bij-gebruik" style="margin-bottom: 100px;">&nbsp;</p>
<h3>Hulp nodig bij het gebruik?</h3>
<p>Komt u er als gemeente niet uit om de stembureau data te uploaden? Bekijk de uitlegvideo’s hieronder. Hopelijk maakt dit het proces gemakkelijker en scheelt u dit tijd. We hebben het proces van stembureaudata uploaden opgesplitst in vier onderdelen, zodat u ook specifiek over één onderwerp de toelichting kunt bekijken.</p>
<h4 id="hulp-bij-gebruik-1">1. Het project WIMS, starten als gemeente & inloggen</h4>
<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/865499897?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="wims1"></iframe></div>
<h4 id="hulp-bij-gebruik-2">2. Stembureaus uploaden: via het vooringevulde spreadsheet (1)</h4>
<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/865502912?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="wims2"></iframe></div>
<h4 id="hulp-bij-gebruik-3">3. Stembureaus uploaden: handmatig via het webformulier (2)</h4>
<p>Deze video kom zo snel mogelijk beschikbaar.</p>
<h4 id="hulp-bij-gebruik-4">4. Stembureaus wijzigen, uploaden en publiceren </h4>
<p>Deze video kom zo snel mogelijk beschikbaar.</p>

<p>Mocht u verder nog vragen hebben kunt u mailen naar: <a href="mailto:stemlokaal@openstate.eu">stemlokaal@openstate.eu </a></p>
