{% extends "base.html" %}

{% block content %}

<div class="container">
  <form role="form" method="post" action="">
    {{ form.csrf_token }}
    <h1 class="h1 fw-normal">Verificatie</h1>

    <div class="form-floating">
      {{ form.otp(placeholder="OTP", class="form-control mb-2", autofocus=True) }}
      {{ form.otp.label }}
      {% if form.otp.errors %}
        {% for error in form.otp.errors %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
        {% endfor %}
      {% endif %}
    </div>
    <div>
      {{ form.submit }}
    </div>
  </form>
</div>

{% endblock %}